{
	"swagger": "2.0",
	"host": "api.nfe.io",
	"info": {
		"title": "Nota Fiscal de ServiÃ§o",
		"version": "v1",
		"description": "# IntroducÃ£o\nSeja bem-vindo a documentaÃ§Ã£o da API de Nota Fiscal de ServiÃ§o!\nNossa API foi criada utilizando o padrÃ£o REST que possibilita a integraÃ§Ã£o de seu sistema ao nosso, sendo assim vocÃª tambÃ©m pode extender ou recriar as funcionalidades existentes na nossa plataforma, tudo isso consumindo a API que estÃ¡ documentada abaixo.\n\n\n# Como usar a API?\nLogo a seguir vocÃª encontrarÃ¡ todos os recursos e metÃ³dos suportados pela API, sendo que essa pÃ¡gina possibilita que vocÃª teste os recursos e mÃ©todos diretamente atravÃ©s dela.\n\n\n# AutenticaÃ§Ã£o\nVocÃª precisa de uma chave de API (API Key) para identificar a conta que estÃ¡ realizando solicitaÃ§Ãµes para a API. \nPara isso vocÃª deve colocar sua chave de API no campo que se encontra topo desta pÃ¡gina para que os mÃ©todos funcionem corretamente.\nNo seu cÃ³digo e integraÃ§Ã£o temos suporte para autenticaÃ§Ã£o de diversas formas sendo eles: \nHTTP Header (Authorization ou X-NFEIO-APIKEY) ou HTTP Query String (api_key) nos dois modos passando o valor da sua chave de api (API Key).\n<!-- ReDoc-Inject: <security-definitions> -->\n"
	},
	"paths": {
		"/v1/companies": {
			"get": {
				"tags": [
					"Companies"
				],
				"summary": "Listar as empresas ativas de uma conta",
				"operationId": "Companies_Get",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"application/bson",
					"text/xml"
				],
				"parameters": [
					{
						"name": "pageCount",
						"in": "query",
						"description": "Items por pÃ¡gina",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "pageIndex",
						"in": "query",
						"description": "NÃºmero da pÃ¡gina",
						"required": false,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "Consulta realizada com sucesso",
						"schema": {
							"type": "object",
							"properties": {
								"companies": {
									"type": "array",
									"items": {
										"required": [
											"name",
											"federalTaxNumber",
											"email",
											"address",
											"openningDate",
											"taxRegime",
											"legalNature",
											"municipalTaxNumber"
										],
										"type": "object",
										"properties": {
											"id": {
												"description": "IdentificaÃ§Ã£o",
												"type": "string"
											},
											"name": {
												"description": "Nome ou RazÃ£o Social",
												"type": "string"
											},
											"tradeName": {
												"description": "Nome fantasia",
												"type": "string"
											},
											"federalTaxNumber": {
												"format": "int64",
												"description": "CNPJ ou CPF",
												"type": "integer"
											},
											"email": {
												"description": "Email",
												"type": "string"
											},
											"address": {
												"description": "EndereÃ§o",
												"required": [
													"country",
													"street",
													"number"
												],
												"type": "object",
												"properties": {
													"country": {
														"description": "Sigla do PaÃ­s (padrÃ£o ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG",
														"type": "string"
													},
													"postalCode": {
														"description": "CEP (Exemplo: 99999-999)",
														"type": "string"
													},
													"street": {
														"description": "Logradouro",
														"type": "string"
													},
													"number": {
														"description": "NÃºmero (Exemplo: 185 ou S/N)",
														"type": "string"
													},
													"additionalInformation": {
														"description": "Complemento (Exemplo: BLC A; APT 10",
														"type": "string"
													},
													"district": {
														"description": "Bairro",
														"type": "string"
													},
													"city": {
														"description": "Cidade",
														"type": "object",
														"properties": {
															"code": {
																"description": "CÃ³digo do IBGE",
																"type": "string"
															},
															"name": {
																"description": "Nome",
																"type": "string"
															}
														}
													},
													"state": {
														"description": "Estado",
														"type": "string"
													}
												}
											},
											"openningDate": {
												"format": "date-time",
												"description": "Data abertura da empresa",
												"type": "string"
											},
											"taxRegime": {
												"description": "Tipo do Regime TributÃ¡rio",
												"enum": [
													"Isento",
													"MicroempreendedorIndividual",
													"SimplesNacional",
													"LucroPresumido",
													"LucroReal"
												],
												"type": "string"
											},
											"specialTaxRegime": {
												"description": "Tipo do regime especial de tributaÃ§Ã£o",
												"enum": [
													"Automatico",
													"Nenhum",
													"MicroempresaMunicipal",
													"Estimativa",
													"SociedadeDeProfissionais",
													"Cooperativa",
													"MicroempreendedorIndividual",
													"MicroempresarioEmpresaPequenoPorte"
												],
												"type": "string"
											},
											"legalNature": {
												"description": "CÃ³digo da Natureza JurÃ­dica",
												"enum": [
													"EmpresaPublica",
													"SociedadeEconomiaMista",
													"SociedadeAnonimaAberta",
													"SociedadeAnonimaFechada",
													"SociedadeEmpresariaLimitada",
													"SociedadeEmpresariaEmNomeColetivo",
													"SociedadeEmpresariaEmComanditaSimples",
													"SociedadeEmpresariaEmComanditaporAcoes",
													"SociedadeemContaParticipacao",
													"Empresario",
													"Cooperativa",
													"ConsorcioSociedades",
													"GrupoSociedades",
													"EmpresaDomiciliadaExterior",
													"ClubeFundoInvestimento",
													"SociedadeSimplesPura",
													"SociedadeSimplesLimitada",
													"SociedadeSimplesEmNomeColetivo",
													"SociedadeSimplesEmComanditaSimples",
													"EmpresaBinacional",
													"ConsorcioEmpregadores",
													"ConsorcioSimples",
													"EireliNaturezaEmpresaria",
													"EireliNaturezaSimples",
													"ServicoNotarial",
													"FundacaoPrivada",
													"ServicoSocialAutonomo",
													"CondominioEdilicio",
													"ComissaoConciliacaoPrevia",
													"EntidadeMediacaoArbitragem",
													"PartidoPolitico",
													"EntidadeSindical",
													"EstabelecimentoBrasilFundacaoAssociacaoEstrangeiras",
													"FundacaoAssociacaoDomiciliadaExterior",
													"OrganizacaoReligiosa",
													"ComunidadeIndigena",
													"FundoPrivado",
													"AssociacaoPrivada"
												],
												"type": "string"
											},
											"economicActivities": {
												"description": "Atividades da Empresa",
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"type": {
															"enum": [
																"Main",
																"Secondary"
															],
															"type": "string"
														},
														"code": {
															"format": "int32",
															"type": "integer"
														}
													}
												}
											},
											"companyRegistryNumber": {
												"format": "int64",
												"description": "NÃºmero de InscricaÃ§Ã£o na Junta Comercial",
												"type": "integer"
											},
											"regionalTaxNumber": {
												"format": "int64",
												"description": "NÃºmero de InscricaÃ§Ã£o na SEFAZ (IE)",
												"type": "integer"
											},
											"municipalTaxNumber": {
												"description": "NÃºmero de InscricaÃ§Ã£o na Prefeitura (CCM)",
												"type": "string"
											},
											"rpsSerialNumber": {
												"description": "RPS nÃºmero serie",
												"type": "string"
											},
											"rpsNumber": {
												"format": "int64",
												"description": "RPS nÃºmero",
												"type": "integer"
											},
											"issRate": {
												"format": "double",
												"description": "AlÃ­quota do ISS para Simples Nacional",
												"type": "number"
											},
											"environment": {
												"description": "Ambiente de processamento",
												"enum": [
													"Development",
													"Production",
													"Staging"
												],
												"type": "string"
											},
											"fiscalStatus": {
												"description": "Status no sistema",
												"enum": [
													"CityNotSupported",
													"Pending",
													"Inactive",
													"None",
													"Active"
												],
												"type": "string"
											},
											"certificate": {
												"description": "Certificado",
												"type": "object",
												"properties": {
													"thumbprint": {
														"description": "Thumbprint certificado",
														"type": "string"
													},
													"modifiedOn": {
														"format": "date-time",
														"description": "Certificado alterado em",
														"type": "string"
													},
													"expiresOn": {
														"format": "date-time",
														"description": "Certificado expira em",
														"type": "string"
													},
													"status": {
														"description": "Status do certificado",
														"enum": [
															"Overdue",
															"Pending",
															"None",
															"Active"
														],
														"type": "string"
													}
												}
											},
											"createdOn": {
												"format": "date-time",
												"description": "Data de criaÃ§Ã£o",
												"type": "string"
											},
											"modifiedOn": {
												"format": "date-time",
												"description": "Data da Ãºltima modificaÃ§Ã£o",
												"type": "string"
											}
										}
									}
								},
								"totalResults": {
									"format": "int64",
									"type": "integer"
								},
								"totalPages": {
									"format": "int32",
									"type": "integer"
								},
								"page": {
									"format": "int32",
									"type": "integer"
								}
							}
						}
					},
					"400": {
						"description": "Algum parametro informado nÃ£o Ã© vÃ¡lido, verificar resposta"
					},
					"401": {
						"description": "API Key da conta nÃ£o Ã© valida"
					},
					"500": {
						"description": "Erro no processamento"
					}
				},
				"security": [
					{
						"apiKey": []
					}
				]
			},
			"post": {
				"tags": [
					"Companies"
				],
				"summary": "Criar uma empresa",
				"operationId": "Companies_Post",
				"consumes": [
					"application/json",
					"text/json",
					"application/bson",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"application/bson",
					"text/xml"
				],
				"parameters": [
					{
						"name": "item",
						"in": "body",
						"description": "Dados da empresa",
						"required": true,
						"schema": {
							"required": [
								"name",
								"federalTaxNumber",
								"email",
								"address",
								"openningDate",
								"taxRegime",
								"legalNature",
								"municipalTaxNumber"
							],
							"type": "object",
							"properties": {
								"id": {
									"description": "IdentificaÃ§Ã£o",
									"type": "string"
								},
								"name": {
									"description": "Nome ou RazÃ£o Social",
									"type": "string"
								},
								"tradeName": {
									"description": "Nome fantasia",
									"type": "string"
								},
								"federalTaxNumber": {
									"format": "int64",
									"description": "CNPJ ou CPF",
									"type": "integer"
								},
								"email": {
									"description": "Email",
									"type": "string"
								},
								"address": {
									"description": "EndereÃ§o",
									"required": [
										"country",
										"street",
										"number"
									],
									"type": "object",
									"properties": {
										"country": {
											"description": "Sigla do PaÃ­s (padrÃ£o ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG",
											"type": "string"
										},
										"postalCode": {
											"description": "CEP (Exemplo: 99999-999)",
											"type": "string"
										},
										"street": {
											"description": "Logradouro",
											"type": "string"
										},
										"number": {
											"description": "NÃºmero (Exemplo: 185 ou S/N)",
											"type": "string"
										},
										"additionalInformation": {
											"description": "Complemento (Exemplo: BLC A; APT 10",
											"type": "string"
										},
										"district": {
											"description": "Bairro",
											"type": "string"
										},
										"city": {
											"description": "Cidade",
											"type": "object",
											"properties": {
												"code": {
													"description": "CÃ³digo do IBGE",
													"type": "string"
												},
												"name": {
													"description": "Nome",
													"type": "string"
												}
											}
										},
										"state": {
											"description": "Estado",
											"type": "string"
										}
									}
								},
								"openningDate": {
									"format": "date-time",
									"description": "Data abertura da empresa",
									"type": "string"
								},
								"taxRegime": {
									"description": "Tipo do Regime TributÃ¡rio",
									"enum": [
										"Isento",
										"MicroempreendedorIndividual",
										"SimplesNacional",
										"LucroPresumido",
										"LucroReal"
									],
									"type": "string"
								},
								"specialTaxRegime": {
									"description": "Tipo do regime especial de tributaÃ§Ã£o",
									"enum": [
										"Automatico",
										"Nenhum",
										"MicroempresaMunicipal",
										"Estimativa",
										"SociedadeDeProfissionais",
										"Cooperativa",
										"MicroempreendedorIndividual",
										"MicroempresarioEmpresaPequenoPorte"
									],
									"type": "string"
								},
								"legalNature": {
									"description": "CÃ³digo da Natureza JurÃ­dica",
									"enum": [
										"EmpresaPublica",
										"SociedadeEconomiaMista",
										"SociedadeAnonimaAberta",
										"SociedadeAnonimaFechada",
										"SociedadeEmpresariaLimitada",
										"SociedadeEmpresariaEmNomeColetivo",
										"SociedadeEmpresariaEmComanditaSimples",
										"SociedadeEmpresariaEmComanditaporAcoes",
										"SociedadeemContaParticipacao",
										"Empresario",
										"Cooperativa",
										"ConsorcioSociedades",
										"GrupoSociedades",
										"EmpresaDomiciliadaExterior",
										"ClubeFundoInvestimento",
										"SociedadeSimplesPura",
										"SociedadeSimplesLimitada",
										"SociedadeSimplesEmNomeColetivo",
										"SociedadeSimplesEmComanditaSimples",
										"EmpresaBinacional",
										"ConsorcioEmpregadores",
										"ConsorcioSimples",
										"EireliNaturezaEmpresaria",
										"EireliNaturezaSimples",
										"ServicoNotarial",
										"FundacaoPrivada",
										"ServicoSocialAutonomo",
										"CondominioEdilicio",
										"ComissaoConciliacaoPrevia",
										"EntidadeMediacaoArbitragem",
										"PartidoPolitico",
										"EntidadeSindical",
										"EstabelecimentoBrasilFundacaoAssociacaoEstrangeiras",
										"FundacaoAssociacaoDomiciliadaExterior",
										"OrganizacaoReligiosa",
										"ComunidadeIndigena",
										"FundoPrivado",
										"AssociacaoPrivada"
									],
									"type": "string"
								},
								"economicActivities": {
									"description": "Atividades da Empresa",
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"type": {
												"enum": [
													"Main",
													"Secondary"
												],
												"type": "string"
											},
											"code": {
												"format": "int32",
												"type": "integer"
											}
										}
									}
								},
								"companyRegistryNumber": {
									"format": "int64",
									"description": "NÃºmero de InscricaÃ§Ã£o na Junta Comercial",
									"type": "integer"
								},
								"regionalTaxNumber": {
									"format": "int64",
									"description": "NÃºmero de InscricaÃ§Ã£o na SEFAZ (IE)",
									"type": "integer"
								},
								"municipalTaxNumber": {
									"description": "NÃºmero de InscricaÃ§Ã£o na Prefeitura (CCM)",
									"type": "string"
								},
								"rpsSerialNumber": {
									"description": "RPS nÃºmero serie",
									"type": "string"
								},
								"rpsNumber": {
									"format": "int64",
									"description": "RPS nÃºmero",
									"type": "integer"
								},
								"issRate": {
									"format": "double",
									"description": "AlÃ­quota do ISS para Simples Nacional",
									"type": "number"
								},
								"environment": {
									"description": "Ambiente de processamento",
									"enum": [
										"Development",
										"Production",
										"Staging"
									],
									"type": "string"
								},
								"fiscalStatus": {
									"description": "Status no sistema",
									"enum": [
										"CityNotSupported",
										"Pending",
										"Inactive",
										"None",
										"Active"
									],
									"type": "string"
								},
								"certificate": {
									"description": "Certificado",
									"type": "object",
									"properties": {
										"thumbprint": {
											"description": "Thumbprint certificado",
											"type": "string"
										},
										"modifiedOn": {
											"format": "date-time",
											"description": "Certificado alterado em",
											"type": "string"
										},
										"expiresOn": {
											"format": "date-time",
											"description": "Certificado expira em",
											"type": "string"
										},
										"status": {
											"description": "Status do certificado",
											"enum": [
												"Overdue",
												"Pending",
												"None",
												"Active"
											],
											"type": "string"
										}
									}
								},
								"createdOn": {
									"format": "date-time",
									"description": "Data de criaÃ§Ã£o",
									"type": "string"
								},
								"modifiedOn": {
									"format": "date-time",
									"description": "Data da Ãºltima modificaÃ§Ã£o",
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Sucesso na criaÃ§Ã£o da empresa",
						"schema": {
							"type": "object",
							"properties": {
								"companies": {
									"required": [
										"name",
										"federalTaxNumber",
										"email",
										"address",
										"openningDate",
										"taxRegime",
										"legalNature",
										"municipalTaxNumber"
									],
									"type": "object",
									"properties": {
										"id": {
											"description": "IdentificaÃ§Ã£o",
											"type": "string"
										},
										"name": {
											"description": "Nome ou RazÃ£o Social",
											"type": "string"
										},
										"tradeName": {
											"description": "Nome fantasia",
											"type": "string"
										},
										"federalTaxNumber": {
											"format": "int64",
											"description": "CNPJ ou CPF",
											"type": "integer"
										},
										"email": {
											"description": "Email",
											"type": "string"
										},
										"address": {
											"description": "EndereÃ§o",
											"required": [
												"country",
												"street",
												"number"
											],
											"type": "object",
											"properties": {
												"country": {
													"description": "Sigla do PaÃ­s (padrÃ£o ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG",
													"type": "string"
												},
												"postalCode": {
													"description": "CEP (Exemplo: 99999-999)",
													"type": "string"
												},
												"street": {
													"description": "Logradouro",
													"type": "string"
												},
												"number": {
													"description": "NÃºmero (Exemplo: 185 ou S/N)",
													"type": "string"
												},
												"additionalInformation": {
													"description": "Complemento (Exemplo: BLC A; APT 10",
													"type": "string"
												},
												"district": {
													"description": "Bairro",
													"type": "string"
												},
												"city": {
													"description": "Cidade",
													"type": "object",
													"properties": {
														"code": {
															"description": "CÃ³digo do IBGE",
															"type": "string"
														},
														"name": {
															"description": "Nome",
															"type": "string"
														}
													}
												},
												"state": {
													"description": "Estado",
													"type": "string"
												}
											}
										},
										"openningDate": {
											"format": "date-time",
											"description": "Data abertura da empresa",
											"type": "string"
										},
										"taxRegime": {
											"description": "Tipo do Regime TributÃ¡rio",
											"enum": [
												"Isento",
												"MicroempreendedorIndividual",
												"SimplesNacional",
												"LucroPresumido",
												"LucroReal"
											],
											"type": "string"
										},
										"specialTaxRegime": {
											"description": "Tipo do regime especial de tributaÃ§Ã£o",
											"enum": [
												"Automatico",
												"Nenhum",
												"MicroempresaMunicipal",
												"Estimativa",
												"SociedadeDeProfissionais",
												"Cooperativa",
												"MicroempreendedorIndividual",
												"MicroempresarioEmpresaPequenoPorte"
											],
											"type": "string"
										},
										"legalNature": {
											"description": "CÃ³digo da Natureza JurÃ­dica",
											"enum": [
												"EmpresaPublica",
												"SociedadeEconomiaMista",
												"SociedadeAnonimaAberta",
												"SociedadeAnonimaFechada",
												"SociedadeEmpresariaLimitada",
												"SociedadeEmpresariaEmNomeColetivo",
												"SociedadeEmpresariaEmComanditaSimples",
												"SociedadeEmpresariaEmComanditaporAcoes",
												"SociedadeemContaParticipacao",
												"Empresario",
												"Cooperativa",
												"ConsorcioSociedades",
												"GrupoSociedades",
												"EmpresaDomiciliadaExterior",
												"ClubeFundoInvestimento",
												"SociedadeSimplesPura",
												"SociedadeSimplesLimitada",
												"SociedadeSimplesEmNomeColetivo",
												"SociedadeSimplesEmComanditaSimples",
												"EmpresaBinacional",
												"ConsorcioEmpregadores",
												"ConsorcioSimples",
												"EireliNaturezaEmpresaria",
												"EireliNaturezaSimples",
												"ServicoNotarial",
												"FundacaoPrivada",
												"ServicoSocialAutonomo",
												"CondominioEdilicio",
												"ComissaoConciliacaoPrevia",
												"EntidadeMediacaoArbitragem",
												"PartidoPolitico",
												"EntidadeSindical",
												"EstabelecimentoBrasilFundacaoAssociacaoEstrangeiras",
												"FundacaoAssociacaoDomiciliadaExterior",
												"OrganizacaoReligiosa",
												"ComunidadeIndigena",
												"FundoPrivado",
												"AssociacaoPrivada"
											],
											"type": "string"
										},
										"economicActivities": {
											"description": "Atividades da Empresa",
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"type": {
														"enum": [
															"Main",
															"Secondary"
														],
														"type": "string"
													},
													"code": {
														"format": "int32",
														"type": "integer"
													}
												}
											}
										},
										"companyRegistryNumber": {
											"format": "int64",
											"description": "NÃºmero de InscricaÃ§Ã£o na Junta Comercial",
											"type": "integer"
										},
										"regionalTaxNumber": {
											"format": "int64",
											"description": "NÃºmero de InscricaÃ§Ã£o na SEFAZ (IE)",
											"type": "integer"
										},
										"municipalTaxNumber": {
											"description": "NÃºmero de InscricaÃ§Ã£o na Prefeitura (CCM)",
											"type": "string"
										},
										"rpsSerialNumber": {
											"description": "RPS nÃºmero serie",
											"type": "string"
										},
										"rpsNumber": {
											"format": "int64",
											"description": "RPS nÃºmero",
											"type": "integer"
										},
										"issRate": {
											"format": "double",
											"description": "AlÃ­quota do ISS para Simples Nacional",
											"type": "number"
										},
										"environment": {
											"description": "Ambiente de processamento",
											"enum": [
												"Development",
												"Production",
												"Staging"
											],
											"type": "string"
										},
										"fiscalStatus": {
											"description": "Status no sistema",
											"enum": [
												"CityNotSupported",
												"Pending",
												"Inactive",
												"None",
												"Active"
											],
											"type": "string"
										},
										"certificate": {
											"description": "Certificado",
											"type": "object",
											"properties": {
												"thumbprint": {
													"description": "Thumbprint certificado",
													"type": "string"
												},
												"modifiedOn": {
													"format": "date-time",
													"description": "Certificado alterado em",
													"type": "string"
												},
												"expiresOn": {
													"format": "date-time",
													"description": "Certificado expira em",
													"type": "string"
												},
												"status": {
													"description": "Status do certificado",
													"enum": [
														"Overdue",
														"Pending",
														"None",
														"Active"
													],
													"type": "string"
												}
											}
										},
										"createdOn": {
											"format": "date-time",
											"description": "Data de criaÃ§Ã£o",
											"type": "string"
										},
										"modifiedOn": {
											"format": "date-time",
											"description": "Data da Ãºltima modificaÃ§Ã£o",
											"type": "string"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Algum parametro informado nÃ£o Ã© vÃ¡lido"
					},
					"401": {
						"description": "API Key da conta nÃ£o Ã© valida"
					},
					"409": {
						"description": "JÃ¡ existe uma empresa com o CNPJ informado"
					},
					"500": {
						"description": "Erro no processamento"
					}
				},
				"security": [
					{
						"apiKey": []
					}
				]
			}
		},
		"/v1/companies/{company_id_or_tax_number}": {
			"get": {
				"tags": [
					"Companies"
				],
				"summary": "Obter os detalhes de uma empresa",
				"operationId": "Companies_Get",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"application/bson",
					"text/xml"
				],
				"parameters": [
					{
						"name": "company_id_or_tax_number",
						"in": "path",
						"description": "ID da empresa ou InscriÃ§Ã£o Federal (CNPJ)",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Sucesso na requisiÃ§Ã£o",
						"schema": {
							"type": "object",
							"properties": {
								"companies": {
									"required": [
										"name",
										"federalTaxNumber",
										"email",
										"address",
										"openningDate",
										"taxRegime",
										"legalNature",
										"municipalTaxNumber"
									],
									"type": "object",
									"properties": {
										"id": {
											"description": "IdentificaÃ§Ã£o",
											"type": "string"
										},
										"name": {
											"description": "Nome ou RazÃ£o Social",
											"type": "string"
										},
										"tradeName": {
											"description": "Nome fantasia",
											"type": "string"
										},
										"federalTaxNumber": {
											"format": "int64",
											"description": "CNPJ ou CPF",
											"type": "integer"
										},
										"email": {
											"description": "Email",
											"type": "string"
										},
										"address": {
											"description": "EndereÃ§o",
											"required": [
												"country",
												"street",
												"number"
											],
											"type": "object",
											"properties": {
												"country": {
													"description": "Sigla do PaÃ­s (padrÃ£o ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG",
													"type": "string"
												},
												"postalCode": {
													"description": "CEP (Exemplo: 99999-999)",
													"type": "string"
												},
												"street": {
													"description": "Logradouro",
													"type": "string"
												},
												"number": {
													"description": "NÃºmero (Exemplo: 185 ou S/N)",
													"type": "string"
												},
												"additionalInformation": {
													"description": "Complemento (Exemplo: BLC A; APT 10",
													"type": "string"
												},
												"district": {
													"description": "Bairro",
													"type": "string"
												},
												"city": {
													"description": "Cidade",
													"type": "object",
													"properties": {
														"code": {
															"description": "CÃ³digo do IBGE",
															"type": "string"
														},
														"name": {
															"description": "Nome",
															"type": "string"
														}
													}
												},
												"state": {
													"description": "Estado",
													"type": "string"
												}
											}
										},
										"openningDate": {
											"format": "date-time",
											"description": "Data abertura da empresa",
											"type": "string"
										},
										"taxRegime": {
											"description": "Tipo do Regime TributÃ¡rio",
											"enum": [
												"Isento",
												"MicroempreendedorIndividual",
												"SimplesNacional",
												"LucroPresumido",
												"LucroReal"
											],
											"type": "string"
										},
										"specialTaxRegime": {
											"description": "Tipo do regime especial de tributaÃ§Ã£o",
											"enum": [
												"Automatico",
												"Nenhum",
												"MicroempresaMunicipal",
												"Estimativa",
												"SociedadeDeProfissionais",
												"Cooperativa",
												"MicroempreendedorIndividual",
												"MicroempresarioEmpresaPequenoPorte"
											],
											"type": "string"
										},
										"legalNature": {
											"description": "CÃ³digo da Natureza JurÃ­dica",
											"enum": [
												"EmpresaPublica",
												"SociedadeEconomiaMista",
												"SociedadeAnonimaAberta",
												"SociedadeAnonimaFechada",
												"SociedadeEmpresariaLimitada",
												"SociedadeEmpresariaEmNomeColetivo",
												"SociedadeEmpresariaEmComanditaSimples",
												"SociedadeEmpresariaEmComanditaporAcoes",
												"SociedadeemContaParticipacao",
												"Empresario",
												"Cooperativa",
												"ConsorcioSociedades",
												"GrupoSociedades",
												"EmpresaDomiciliadaExterior",
												"ClubeFundoInvestimento",
												"SociedadeSimplesPura",
												"SociedadeSimplesLimitada",
												"SociedadeSimplesEmNomeColetivo",
												"SociedadeSimplesEmComanditaSimples",
												"EmpresaBinacional",
												"ConsorcioEmpregadores",
												"ConsorcioSimples",
												"EireliNaturezaEmpresaria",
												"EireliNaturezaSimples",
												"ServicoNotarial",
												"FundacaoPrivada",
												"ServicoSocialAutonomo",
												"CondominioEdilicio",
												"ComissaoConciliacaoPrevia",
												"EntidadeMediacaoArbitragem",
												"PartidoPolitico",
												"EntidadeSindical",
												"EstabelecimentoBrasilFundacaoAssociacaoEstrangeiras",
												"FundacaoAssociacaoDomiciliadaExterior",
												"OrganizacaoReligiosa",
												"ComunidadeIndigena",
												"FundoPrivado",
												"AssociacaoPrivada"
											],
											"type": "string"
										},
										"economicActivities": {
											"description": "Atividades da Empresa",
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"type": {
														"enum": [
															"Main",
															"Secondary"
														],
														"type": "string"
													},
													"code": {
														"format": "int32",
														"type": "integer"
													}
												}
											}
										},
										"companyRegistryNumber": {
											"format": "int64",
											"description": "NÃºmero de InscricaÃ§Ã£o na Junta Comercial",
											"type": "integer"
										},
										"regionalTaxNumber": {
											"format": "int64",
											"description": "NÃºmero de InscricaÃ§Ã£o na SEFAZ (IE)",
											"type": "integer"
										},
										"municipalTaxNumber": {
											"description": "NÃºmero de InscricaÃ§Ã£o na Prefeitura (CCM)",
											"type": "string"
										},
										"rpsSerialNumber": {
											"description": "RPS nÃºmero serie",
											"type": "string"
										},
										"rpsNumber": {
											"format": "int64",
											"description": "RPS nÃºmero",
											"type": "integer"
										},
										"issRate": {
											"format": "double",
											"description": "AlÃ­quota do ISS para Simples Nacional",
											"type": "number"
										},
										"environment": {
											"description": "Ambiente de processamento",
											"enum": [
												"Development",
												"Production",
												"Staging"
											],
											"type": "string"
										},
										"fiscalStatus": {
											"description": "Status no sistema",
											"enum": [
												"CityNotSupported",
												"Pending",
												"Inactive",
												"None",
												"Active"
											],
											"type": "string"
										},
										"certificate": {
											"description": "Certificado",
											"type": "object",
											"properties": {
												"thumbprint": {
													"description": "Thumbprint certificado",
													"type": "string"
												},
												"modifiedOn": {
													"format": "date-time",
													"description": "Certificado alterado em",
													"type": "string"
												},
												"expiresOn": {
													"format": "date-time",
													"description": "Certificado expira em",
													"type": "string"
												},
												"status": {
													"description": "Status do certificado",
													"enum": [
														"Overdue",
														"Pending",
														"None",
														"Active"
													],
													"type": "string"
												}
											}
										},
										"createdOn": {
											"format": "date-time",
											"description": "Data de criaÃ§Ã£o",
											"type": "string"
										},
										"modifiedOn": {
											"format": "date-time",
											"description": "Data da Ãºltima modificaÃ§Ã£o",
											"type": "string"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Algum parametro informado nÃ£o Ã© vÃ¡lido"
					},
					"401": {
						"description": "API Key da conta nÃ£o Ã© valida"
					},
					"500": {
						"description": "Erro no processamento"
					}
				},
				"security": [
					{
						"apiKey": []
					}
				]
			}
		},
		"/v1/companies/{company_id}": {
			"put": {
				"tags": [
					"Companies"
				],
				"summary": "Atualizar uma empresa",
				"operationId": "Companies_Put",
				"consumes": [
					"application/json",
					"text/json",
					"application/bson",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"application/bson",
					"text/xml"
				],
				"parameters": [
					{
						"name": "company_id",
						"in": "path",
						"description": "ID da empresa",
						"required": true,
						"type": "string"
					},
					{
						"name": "item",
						"in": "body",
						"description": "Dados da empresa",
						"required": true,
						"schema": {
							"required": [
								"name",
								"federalTaxNumber",
								"email",
								"address",
								"openningDate",
								"taxRegime",
								"legalNature",
								"municipalTaxNumber"
							],
							"type": "object",
							"properties": {
								"id": {
									"description": "IdentificaÃ§Ã£o",
									"type": "string"
								},
								"name": {
									"description": "Nome ou RazÃ£o Social",
									"type": "string"
								},
								"tradeName": {
									"description": "Nome fantasia",
									"type": "string"
								},
								"federalTaxNumber": {
									"format": "int64",
									"description": "CNPJ ou CPF",
									"type": "integer"
								},
								"email": {
									"description": "Email",
									"type": "string"
								},
								"address": {
									"description": "EndereÃ§o",
									"required": [
										"country",
										"street",
										"number"
									],
									"type": "object",
									"properties": {
										"country": {
											"description": "Sigla do PaÃ­s (padrÃ£o ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG",
											"type": "string"
										},
										"postalCode": {
											"description": "CEP (Exemplo: 99999-999)",
											"type": "string"
										},
										"street": {
											"description": "Logradouro",
											"type": "string"
										},
										"number": {
											"description": "NÃºmero (Exemplo: 185 ou S/N)",
											"type": "string"
										},
										"additionalInformation": {
											"description": "Complemento (Exemplo: BLC A; APT 10",
											"type": "string"
										},
										"district": {
											"description": "Bairro",
											"type": "string"
										},
										"city": {
											"description": "Cidade",
											"type": "object",
											"properties": {
												"code": {
													"description": "CÃ³digo do IBGE",
													"type": "string"
												},
												"name": {
													"description": "Nome",
													"type": "string"
												}
											}
										},
										"state": {
											"description": "Estado",
											"type": "string"
										}
									}
								},
								"openningDate": {
									"format": "date-time",
									"description": "Data abertura da empresa",
									"type": "string"
								},
								"taxRegime": {
									"description": "Tipo do Regime TributÃ¡rio",
									"enum": [
										"Isento",
										"MicroempreendedorIndividual",
										"SimplesNacional",
										"LucroPresumido",
										"LucroReal"
									],
									"type": "string"
								},
								"specialTaxRegime": {
									"description": "Tipo do regime especial de tributaÃ§Ã£o",
									"enum": [
										"Automatico",
										"Nenhum",
										"MicroempresaMunicipal",
										"Estimativa",
										"SociedadeDeProfissionais",
										"Cooperativa",
										"MicroempreendedorIndividual",
										"MicroempresarioEmpresaPequenoPorte"
									],
									"type": "string"
								},
								"legalNature": {
									"description": "CÃ³digo da Natureza JurÃ­dica",
									"enum": [
										"EmpresaPublica",
										"SociedadeEconomiaMista",
										"SociedadeAnonimaAberta",
										"SociedadeAnonimaFechada",
										"SociedadeEmpresariaLimitada",
										"SociedadeEmpresariaEmNomeColetivo",
										"SociedadeEmpresariaEmComanditaSimples",
										"SociedadeEmpresariaEmComanditaporAcoes",
										"SociedadeemContaParticipacao",
										"Empresario",
										"Cooperativa",
										"ConsorcioSociedades",
										"GrupoSociedades",
										"EmpresaDomiciliadaExterior",
										"ClubeFundoInvestimento",
										"SociedadeSimplesPura",
										"SociedadeSimplesLimitada",
										"SociedadeSimplesEmNomeColetivo",
										"SociedadeSimplesEmComanditaSimples",
										"EmpresaBinacional",
										"ConsorcioEmpregadores",
										"ConsorcioSimples",
										"EireliNaturezaEmpresaria",
										"EireliNaturezaSimples",
										"ServicoNotarial",
										"FundacaoPrivada",
										"ServicoSocialAutonomo",
										"CondominioEdilicio",
										"ComissaoConciliacaoPrevia",
										"EntidadeMediacaoArbitragem",
										"PartidoPolitico",
										"EntidadeSindical",
										"EstabelecimentoBrasilFundacaoAssociacaoEstrangeiras",
										"FundacaoAssociacaoDomiciliadaExterior",
										"OrganizacaoReligiosa",
										"ComunidadeIndigena",
										"FundoPrivado",
										"AssociacaoPrivada"
									],
									"type": "string"
								},
								"economicActivities": {
									"description": "Atividades da Empresa",
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"type": {
												"enum": [
													"Main",
													"Secondary"
												],
												"type": "string"
											},
											"code": {
												"format": "int32",
												"type": "integer"
											}
										}
									}
								},
								"companyRegistryNumber": {
									"format": "int64",
									"description": "NÃºmero de InscricaÃ§Ã£o na Junta Comercial",
									"type": "integer"
								},
								"regionalTaxNumber": {
									"format": "int64",
									"description": "NÃºmero de InscricaÃ§Ã£o na SEFAZ (IE)",
									"type": "integer"
								},
								"municipalTaxNumber": {
									"description": "NÃºmero de InscricaÃ§Ã£o na Prefeitura (CCM)",
									"type": "string"
								},
								"rpsSerialNumber": {
									"description": "RPS nÃºmero serie",
									"type": "string"
								},
								"rpsNumber": {
									"format": "int64",
									"description": "RPS nÃºmero",
									"type": "integer"
								},
								"issRate": {
									"format": "double",
									"description": "AlÃ­quota do ISS para Simples Nacional",
									"type": "number"
								},
								"environment": {
									"description": "Ambiente de processamento",
									"enum": [
										"Development",
										"Production",
										"Staging"
									],
									"type": "string"
								},
								"fiscalStatus": {
									"description": "Status no sistema",
									"enum": [
										"CityNotSupported",
										"Pending",
										"Inactive",
										"None",
										"Active"
									],
									"type": "string"
								},
								"certificate": {
									"description": "Certificado",
									"type": "object",
									"properties": {
										"thumbprint": {
											"description": "Thumbprint certificado",
											"type": "string"
										},
										"modifiedOn": {
											"format": "date-time",
											"description": "Certificado alterado em",
											"type": "string"
										},
										"expiresOn": {
											"format": "date-time",
											"description": "Certificado expira em",
											"type": "string"
										},
										"status": {
											"description": "Status do certificado",
											"enum": [
												"Overdue",
												"Pending",
												"None",
												"Active"
											],
											"type": "string"
										}
									}
								},
								"createdOn": {
									"format": "date-time",
									"description": "Data de criaÃ§Ã£o",
									"type": "string"
								},
								"modifiedOn": {
									"format": "date-time",
									"description": "Data da Ãºltima modificaÃ§Ã£o",
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Sucesso na atualizaÃ§Ã£o da empresa",
						"schema": {
							"type": "object",
							"properties": {
								"companies": {
									"required": [
										"name",
										"federalTaxNumber",
										"email",
										"address",
										"openningDate",
										"taxRegime",
										"legalNature",
										"municipalTaxNumber"
									],
									"type": "object",
									"properties": {
										"id": {
											"description": "IdentificaÃ§Ã£o",
											"type": "string"
										},
										"name": {
											"description": "Nome ou RazÃ£o Social",
											"type": "string"
										},
										"tradeName": {
											"description": "Nome fantasia",
											"type": "string"
										},
										"federalTaxNumber": {
											"format": "int64",
											"description": "CNPJ ou CPF",
											"type": "integer"
										},
										"email": {
											"description": "Email",
											"type": "string"
										},
										"address": {
											"description": "EndereÃ§o",
											"required": [
												"country",
												"street",
												"number"
											],
											"type": "object",
											"properties": {
												"country": {
													"description": "Sigla do PaÃ­s (padrÃ£o ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG",
													"type": "string"
												},
												"postalCode": {
													"description": "CEP (Exemplo: 99999-999)",
													"type": "string"
												},
												"street": {
													"description": "Logradouro",
													"type": "string"
												},
												"number": {
													"description": "NÃºmero (Exemplo: 185 ou S/N)",
													"type": "string"
												},
												"additionalInformation": {
													"description": "Complemento (Exemplo: BLC A; APT 10",
													"type": "string"
												},
												"district": {
													"description": "Bairro",
													"type": "string"
												},
												"city": {
													"description": "Cidade",
													"type": "object",
													"properties": {
														"code": {
															"description": "CÃ³digo do IBGE",
															"type": "string"
														},
														"name": {
															"description": "Nome",
															"type": "string"
														}
													}
												},
												"state": {
													"description": "Estado",
													"type": "string"
												}
											}
										},
										"openningDate": {
											"format": "date-time",
											"description": "Data abertura da empresa",
											"type": "string"
										},
										"taxRegime": {
											"description": "Tipo do Regime TributÃ¡rio",
											"enum": [
												"Isento",
												"MicroempreendedorIndividual",
												"SimplesNacional",
												"LucroPresumido",
												"LucroReal"
											],
											"type": "string"
										},
										"specialTaxRegime": {
											"description": "Tipo do regime especial de tributaÃ§Ã£o",
											"enum": [
												"Automatico",
												"Nenhum",
												"MicroempresaMunicipal",
												"Estimativa",
												"SociedadeDeProfissionais",
												"Cooperativa",
												"MicroempreendedorIndividual",
												"MicroempresarioEmpresaPequenoPorte"
											],
											"type": "string"
										},
										"legalNature": {
											"description": "CÃ³digo da Natureza JurÃ­dica",
											"enum": [
												"EmpresaPublica",
												"SociedadeEconomiaMista",
												"SociedadeAnonimaAberta",
												"SociedadeAnonimaFechada",
												"SociedadeEmpresariaLimitada",
												"SociedadeEmpresariaEmNomeColetivo",
												"SociedadeEmpresariaEmComanditaSimples",
												"SociedadeEmpresariaEmComanditaporAcoes",
												"SociedadeemContaParticipacao",
												"Empresario",
												"Cooperativa",
												"ConsorcioSociedades",
												"GrupoSociedades",
												"EmpresaDomiciliadaExterior",
												"ClubeFundoInvestimento",
												"SociedadeSimplesPura",
												"SociedadeSimplesLimitada",
												"SociedadeSimplesEmNomeColetivo",
												"SociedadeSimplesEmComanditaSimples",
												"EmpresaBinacional",
												"ConsorcioEmpregadores",
												"ConsorcioSimples",
												"EireliNaturezaEmpresaria",
												"EireliNaturezaSimples",
												"ServicoNotarial",
												"FundacaoPrivada",
												"ServicoSocialAutonomo",
												"CondominioEdilicio",
												"ComissaoConciliacaoPrevia",
												"EntidadeMediacaoArbitragem",
												"PartidoPolitico",
												"EntidadeSindical",
												"EstabelecimentoBrasilFundacaoAssociacaoEstrangeiras",
												"FundacaoAssociacaoDomiciliadaExterior",
												"OrganizacaoReligiosa",
												"ComunidadeIndigena",
												"FundoPrivado",
												"AssociacaoPrivada"
											],
											"type": "string"
										},
										"economicActivities": {
											"description": "Atividades da Empresa",
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"type": {
														"enum": [
															"Main",
															"Secondary"
														],
														"type": "string"
													},
													"code": {
														"format": "int32",
														"type": "integer"
													}
												}
											}
										},
										"companyRegistryNumber": {
											"format": "int64",
											"description": "NÃºmero de InscricaÃ§Ã£o na Junta Comercial",
											"type": "integer"
										},
										"regionalTaxNumber": {
											"format": "int64",
											"description": "NÃºmero de InscricaÃ§Ã£o na SEFAZ (IE)",
											"type": "integer"
										},
										"municipalTaxNumber": {
											"description": "NÃºmero de InscricaÃ§Ã£o na Prefeitura (CCM)",
											"type": "string"
										},
										"rpsSerialNumber": {
											"description": "RPS nÃºmero serie",
											"type": "string"
										},
										"rpsNumber": {
											"format": "int64",
											"description": "RPS nÃºmero",
											"type": "integer"
										},
										"issRate": {
											"format": "double",
											"description": "AlÃ­quota do ISS para Simples Nacional",
											"type": "number"
										},
										"environment": {
											"description": "Ambiente de processamento",
											"enum": [
												"Development",
												"Production",
												"Staging"
											],
											"type": "string"
										},
										"fiscalStatus": {
											"description": "Status no sistema",
											"enum": [
												"CityNotSupported",
												"Pending",
												"Inactive",
												"None",
												"Active"
											],
											"type": "string"
										},
										"certificate": {
											"description": "Certificado",
											"type": "object",
											"properties": {
												"thumbprint": {
													"description": "Thumbprint certificado",
													"type": "string"
												},
												"modifiedOn": {
													"format": "date-time",
													"description": "Certificado alterado em",
													"type": "string"
												},
												"expiresOn": {
													"format": "date-time",
													"description": "Certificado expira em",
													"type": "string"
												},
												"status": {
													"description": "Status do certificado",
													"enum": [
														"Overdue",
														"Pending",
														"None",
														"Active"
													],
													"type": "string"
												}
											}
										},
										"createdOn": {
											"format": "date-time",
											"description": "Data de criaÃ§Ã£o",
											"type": "string"
										},
										"modifiedOn": {
											"format": "date-time",
											"description": "Data da Ãºltima modificaÃ§Ã£o",
											"type": "string"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Algum parametro informado nÃ£o Ã© vÃ¡lido"
					},
					"401": {
						"description": "API Key da conta nÃ£o Ã© valida"
					},
					"500": {
						"description": "Erro no processamento"
					}
				},
				"security": [
					{
						"apiKey": []
					}
				]
			},
			"delete": {
				"tags": [
					"Companies"
				],
				"summary": "Excluir uma empresa",
				"operationId": "Companies_Delete",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"application/bson",
					"text/xml"
				],
				"parameters": [
					{
						"name": "company_id",
						"in": "path",
						"description": "ID da empresa",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Sucesso na remoÃ§Ã£o da empresa",
						"schema": {
							"type": "object"
						}
					},
					"400": {
						"description": "Algum parametro informado nÃ£o Ã© vÃ¡lido"
					},
					"401": {
						"description": "API Key da conta nÃ£o Ã© valida"
					},
					"404": {
						"description": "empresa nÃ£o foi encontrada"
					},
					"500": {
						"description": "Erro no processamento"
					}
				},
				"security": [
					{
						"apiKey": []
					}
				]
			}
		},
		"/v1/companies/{company_id}/certificate": {
			"post": {
				"tags": [
					"Companies"
				],
				"summary": "Upload do certificado digital da empresa usando o codificaÃ§Ã£o multipart/form-data.",
				"operationId": "Companies_CertificateUpload",
				"consumes": [
					"multipart/form-data"
				],
				"produces": [
					"application/json",
					"text/json",
					"application/bson",
					"text/xml"
				],
				"parameters": [
					{
						"name": "company_id",
						"in": "path",
						"description": "ID da empresa",
						"required": true,
						"type": "string"
					},
					{
						"name": "file",
						"in": "formData",
						"description": "Arquivo do certificado digital com extensao PFX ou P12",
						"required": true,
						"type": "file"
					},
					{
						"name": "password",
						"in": "formData",
						"description": "Senha do arquivo do certificado digital",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Sucesso na atualizaÃ§Ã£o da certificado digital",
						"schema": {
							"type": "string"
						}
					},
					"400": {
						"description": "Algum parametro informado nÃ£o Ã© vÃ¡lido"
					},
					"401": {
						"description": "API Key da conta nÃ£o Ã© valida"
					},
					"404": {
						"description": "Empresa nÃ£o foi encontrada"
					},
					"415": {
						"description": "Nenhum arquivo foi encontrado na requisiÃ§Ã£o"
					},
					"500": {
						"description": "Erro no processamento"
					}
				},
				"security": [
					{
						"apiKey": []
					}
				]
			}
		},
		"/v1/companies/{company_id}/notifications": {
			"get": {
				"tags": [
					"CompaniesNotifications"
				],
				"summary": "Listar as notificaÃ§Ãµes de uma empresa",
				"description": "Utilize esta requisiÃ§Ã£o para consultar uma lista das **NotificaÃ§Ãµes** cadastradas na **Empresa**.",
				"operationId": "CompaniesNotifications_Get",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"application/bson",
					"text/xml"
				],
				"parameters": [
					{
						"name": "company_id",
						"in": "path",
						"description": "ID da empresa",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Consulta realizada com sucesso",
						"schema": {
							"type": "object",
							"properties": {
								"notifications": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"id": {
												"description": "IdentificaÃ§Ã£o",
												"type": "string"
											},
											"channel": {
												"description": "Canal de NotificaÃ§Ã£o",
												"enum": [
													"None",
													"Email"
												],
												"type": "string"
											},
											"filters": {
												"description": "Filtro de Evento",
												"type": "array",
												"items": {
													"type": "string"
												}
											},
											"status": {
												"description": "Status no sistema",
												"enum": [
													"Active",
													"Inactive"
												],
												"type": "string"
											},
											"createdOn": {
												"format": "date-time",
												"description": "Data de criaÃ§Ã£o",
												"type": "string"
											},
											"modifiedOn": {
												"format": "date-time",
												"description": "Data da Ãºltima modificaÃ§Ã£o",
												"type": "string"
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Algum parametro informado nÃ£o Ã© vÃ¡lido, verificar resposta"
					},
					"401": {
						"description": "API Key da conta nÃ£o Ã© valida"
					},
					"500": {
						"description": "Erro no processamento"
					}
				},
				"security": [
					{
						"apiKey": []
					}
				]
			}
		},
		"/v1/companies/{company_id}/notifications/{notification_id}": {
			"get": {
				"tags": [
					"CompaniesNotifications"
				],
				"summary": "Consultar uma notificaÃ§Ã£o existente",
				"description": "Utilize esta requisiÃ§Ã£o para consultar uma **NotificaÃ§Ã£o** que esteja cadastrada e tenha o ID igual ao parametro **{notification_id}**.",
				"operationId": "CompaniesNotifications_Get",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"application/bson",
					"text/xml"
				],
				"parameters": [
					{
						"name": "company_id",
						"in": "path",
						"description": "ID da empresa",
						"required": true,
						"type": "string"
					},
					{
						"name": "notification_id",
						"in": "path",
						"description": "ID da notificaÃ§Ã£o a ser consultado",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Sucesso na requisiÃ§Ã£o",
						"schema": {
							"type": "object",
							"properties": {
								"notification": {
									"type": "object",
									"properties": {
										"id": {
											"description": "IdentificaÃ§Ã£o",
											"type": "string"
										},
										"channel": {
											"description": "Canal de NotificaÃ§Ã£o",
											"enum": [
												"None",
												"Email"
											],
											"type": "string"
										},
										"filters": {
											"description": "Filtro de Evento",
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"status": {
											"description": "Status no sistema",
											"enum": [
												"Active",
												"Inactive"
											],
											"type": "string"
										},
										"createdOn": {
											"format": "date-time",
											"description": "Data de criaÃ§Ã£o",
											"type": "string"
										},
										"modifiedOn": {
											"format": "date-time",
											"description": "Data da Ãºltima modificaÃ§Ã£o",
											"type": "string"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Algum parametro informado nÃ£o Ã© vÃ¡lido"
					},
					"401": {
						"description": "API Key da conta nÃ£o Ã© valida"
					},
					"500": {
						"description": "Erro no processamento"
					}
				},
				"security": [
					{
						"apiKey": []
					}
				]
			},
			"delete": {
				"tags": [
					"CompaniesNotifications"
				],
				"summary": "Excluir uma notificaÃ§Ã£o",
				"operationId": "CompaniesNotifications_Delete",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"application/bson",
					"text/xml"
				],
				"parameters": [
					{
						"name": "company_id",
						"in": "path",
						"description": "ID da empresa",
						"required": true,
						"type": "string"
					},
					{
						"name": "notification_id",
						"in": "path",
						"description": "ID da notificaÃ§Ã£o",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Sucesso na remoÃ§Ã£o da empresa",
						"schema": {
							"type": "object"
						}
					},
					"400": {
						"description": "Algum parametro informado nÃ£o Ã© vÃ¡lido"
					},
					"401": {
						"description": "API Key da conta nÃ£o Ã© valida"
					},
					"404": {
						"description": "empresa nÃ£o foi encontrada"
					},
					"500": {
						"description": "Erro no processamento"
					}
				},
				"security": [
					{
						"apiKey": []
					}
				]
			}
		},
		"/v1/companies/{company_id}/notifications/email": {
			"post": {
				"tags": [
					"CompaniesNotifications"
				],
				"summary": "Criar notificaÃ§Ã£o via Email da Nota Fiscal de ServiÃ§o (NFSE)",
				"description": "Utilize esta requisiÃ§Ã£o para definir se os Tomadores (Clientes) das Notas Fiscais de ServiÃ§o (NFSE)\r\ndevem ser notificados via email que a NFSE foi **emitida** ou **cancelada** com sucesso.",
				"operationId": "CompaniesNotifications_Post",
				"consumes": [
					"application/json",
					"text/json",
					"application/bson",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"application/bson",
					"text/xml"
				],
				"parameters": [
					{
						"name": "company_id",
						"in": "path",
						"description": "ID da empresa",
						"required": true,
						"type": "string"
					},
					{
						"name": "item",
						"in": "body",
						"description": "Dados da notificaÃ§Ã£o",
						"required": true,
						"schema": {
							"description": "Cria NotificaÃ§Ã£o para Email",
							"type": "object",
							"properties": {
								"filters": {
									"description": "Lista de filtros de evento sem distinÃ§Ã£o entre maiÃºsculas e minÃºsculas associado a esta notificaÃ§Ã£o.\r\nOs filtros de evento sÃ£o usados para determinar em quais eventos essa notificaÃ§Ã£o serÃ¡ acionada.\r\nOs valores de filtros suportados pode ser consultados atravÃ©s do requisiÃ§Ã£o na API de **Tipos de Eventos**.",
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"status": {
									"description": "Determina se as notificaÃ§Ãµes sÃ£o enviadas quando o evento Ã© gerado.\r\nDefinir como **Inactive** para nÃ£o receber nenhuma nova notificaÃ§Ã£o, sendo o padrÃ£o: **Active**\r\npara receber todas as notificaÃ§Ãµes.",
									"enum": [
										"Active",
										"Inactive"
									],
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Sucesso na criaÃ§Ã£o da empresa",
						"schema": {
							"type": "object",
							"properties": {
								"notification": {
									"type": "object",
									"properties": {
										"id": {
											"description": "IdentificaÃ§Ã£o",
											"type": "string"
										},
										"channel": {
											"description": "Canal de NotificaÃ§Ã£o",
											"enum": [
												"None",
												"Email"
											],
											"type": "string"
										},
										"filters": {
											"description": "Filtro de Evento",
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"status": {
											"description": "Status no sistema",
											"enum": [
												"Active",
												"Inactive"
											],
											"type": "string"
										},
										"createdOn": {
											"format": "date-time",
											"description": "Data de criaÃ§Ã£o",
											"type": "string"
										},
										"modifiedOn": {
											"format": "date-time",
											"description": "Data da Ãºltima modificaÃ§Ã£o",
											"type": "string"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Algum parametro informado nÃ£o Ã© vÃ¡lido"
					},
					"401": {
						"description": "API Key da conta nÃ£o Ã© valida"
					},
					"409": {
						"description": "JÃ¡ existe uma empresa com o CNPJ informado"
					},
					"500": {
						"description": "Erro no processamento"
					}
				},
				"security": [
					{
						"apiKey": []
					}
				]
			}
		},
		"/v1/eventTypes": {
			"get": {
				"tags": [
					"EventTypes"
				],
				"summary": "Listar os Tipos de Eventos gerados pela plataforma",
				"description": "Eventos ocorrem a todo instante na plataforma durante os processamentos e sÃ£o registrados\r\ncriando notificaÃ§Ãµes para os webhooks ativos e configurados para receber os eventos.\r\n            \r\nSÃ£o identificados seguindo o padrÃ£o do nome do evento.\r\n\r\nEsse tipos podem ser utilizados como filtro ao criar ou alterar um webhook,\r\nsendo que o filtro determina quais notificaÃ§Ãµes de eventos e aÃ§Ã£o serÃ£o enviadas\r\npara um determinado webhook, ou seja, dependendo de quais filtros sÃ£o vinculados ao webhook\r\nele sÃ³ receberÃ¡ as notificaÃ§Ãµes de evento e aÃ§Ã£o que correspondem a um ou mais desses filtros.",
				"operationId": "EventTypes_GetAll",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"application/bson",
					"text/xml"
				],
				"responses": {
					"200": {
						"description": "Sucesso na consulta do tipos de eventos",
						"schema": {
							"description": "Tipos de Eventos",
							"type": "object",
							"properties": {
								"eventTypes": {
									"description": "Lista de Evento",
									"type": "array",
									"items": {
										"description": "Eventos ocorrem a todo instante na plataforma durante os processamentos e sÃ£o registrados\r\ncriando notificaÃ§Ãµes para os webhooks ativos e configurados para receber os eventos.",
										"type": "object",
										"properties": {
											"id": {
												"description": "Identificador do evento, seguem o padrÃ£o **Resource.EventAction**.\r\nOnde **Resource**: nome da entidade que gerou o evento;\r\n**EventAction**: nome do evento e aÃ§Ã£o criados.\r\nAlguns exemplos **Invoice.Issued** ou **Blob.Updated**",
												"type": "string"
											},
											"description": {
												"description": "DescriÃ§Ã£o para o recurso, evento e aÃ§Ã£o exemplicando quando e onde eles ocorrem dentro na plataforma.",
												"type": "string"
											}
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "Erro no processamento"
					}
				},
				"security": [
					{
						"apiKey": []
					}
				]
			}
		},
		"/v1/companies/{company_id}/legalpeople": {
			"get": {
				"tags": [
					"LegalPeople"
				],
				"summary": "Listar as pessoas jurÃ­dicas ativas",
				"operationId": "LegalPeople_Get",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"application/bson",
					"text/xml"
				],
				"parameters": [
					{
						"name": "company_id",
						"in": "path",
						"description": "ID da empresa",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Sucesso na requisiÃ§Ã£o",
						"schema": {
							"required": [
								"name",
								"email",
								"address"
							],
							"type": "object",
							"properties": {
								"id": {
									"description": "IdentificaÃ§Ã£o",
									"type": "string"
								},
								"name": {
									"description": "Nome ou RazÃ£o Social",
									"type": "string"
								},
								"tradeName": {
									"description": "Nome fantasia",
									"type": "string"
								},
								"federalTaxNumber": {
									"format": "int64",
									"description": "CNPJ ou CPF",
									"type": "integer"
								},
								"email": {
									"description": "Email",
									"type": "string"
								},
								"address": {
									"description": "EndereÃ§o",
									"required": [
										"country",
										"street",
										"number"
									],
									"type": "object",
									"properties": {
										"country": {
											"description": "Sigla do PaÃ­s (padrÃ£o ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG",
											"type": "string"
										},
										"postalCode": {
											"description": "CEP (Exemplo: 99999-999)",
											"type": "string"
										},
										"street": {
											"description": "Logradouro",
											"type": "string"
										},
										"number": {
											"description": "NÃºmero (Exemplo: 185 ou S/N)",
											"type": "string"
										},
										"additionalInformation": {
											"description": "Complemento (Exemplo: BLC A; APT 10",
											"type": "string"
										},
										"district": {
											"description": "Bairro",
											"type": "string"
										},
										"city": {
											"description": "Cidade",
											"type": "object",
											"properties": {
												"code": {
													"description": "CÃ³digo do IBGE",
													"type": "string"
												},
												"name": {
													"description": "Nome",
													"type": "string"
												}
											}
										},
										"state": {
											"description": "Estado",
											"type": "string"
										}
									}
								},
								"openningDate": {
									"format": "date-time",
									"description": "Data abertura da empresa",
									"type": "string"
								},
								"taxRegime": {
									"description": "Tipo do Regime TributÃ¡rio",
									"enum": [
										"Isento",
										"MicroempreendedorIndividual",
										"SimplesNacional",
										"LucroPresumido",
										"LucroReal"
									],
									"type": "string"
								},
								"legalNature": {
									"description": "CÃ³digo da Natureza JurÃ­dica",
									"enum": [
										"EmpresaPublica",
										"SociedadeEconomiaMista",
										"SociedadeAnonimaAberta",
										"SociedadeAnonimaFechada",
										"SociedadeEmpresariaLimitada",
										"SociedadeEmpresariaEmNomeColetivo",
										"SociedadeEmpresariaEmComanditaSimples",
										"SociedadeEmpresariaEmComanditaporAcoes",
										"SociedadeemContaParticipacao",
										"Empresario",
										"Cooperativa",
										"ConsorcioSociedades",
										"GrupoSociedades",
										"EmpresaDomiciliadaExterior",
										"ClubeFundoInvestimento",
										"SociedadeSimplesPura",
										"SociedadeSimplesLimitada",
										"SociedadeSimplesEmNomeColetivo",
										"SociedadeSimplesEmComanditaSimples",
										"EmpresaBinacional",
										"ConsorcioEmpregadores",
										"ConsorcioSimples",
										"EireliNaturezaEmpresaria",
										"EireliNaturezaSimples",
										"ServicoNotarial",
										"FundacaoPrivada",
										"ServicoSocialAutonomo",
										"CondominioEdilicio",
										"ComissaoConciliacaoPrevia",
										"EntidadeMediacaoArbitragem",
										"PartidoPolitico",
										"EntidadeSindical",
										"EstabelecimentoBrasilFundacaoAssociacaoEstrangeiras",
										"FundacaoAssociacaoDomiciliadaExterior",
										"OrganizacaoReligiosa",
										"ComunidadeIndigena",
										"FundoPrivado",
										"AssociacaoPrivada"
									],
									"type": "string"
								},
								"economicActivities": {
									"description": "Atividades da Empresa",
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"type": {
												"enum": [
													"Main",
													"Secondary"
												],
												"type": "string"
											},
											"code": {
												"format": "int32",
												"type": "integer"
											}
										}
									}
								},
								"companyRegistryNumber": {
									"format": "int64",
									"description": "NÃºmero de InscricaÃ§Ã£o na Junta Comercial",
									"type": "integer"
								},
								"regionalTaxNumber": {
									"format": "int64",
									"description": "NÃºmero de InscricaÃ§Ã£o na SEFAZ (IE)",
									"type": "integer"
								},
								"municipalTaxNumber": {
									"description": "NÃºmero de InscricaÃ§Ã£o na Prefeitura (CCM)",
									"type": "string"
								},
								"status": {
									"description": "Status no sistema",
									"enum": [
										"Inactive",
										"None",
										"Active"
									],
									"type": "string"
								},
								"createdOn": {
									"format": "date-time",
									"description": "Data de criaÃ§Ã£o",
									"type": "string"
								},
								"modifiedOn": {
									"format": "date-time",
									"description": "Data da Ãºltima modificaÃ§Ã£o",
									"type": "string"
								}
							}
						}
					},
					"400": {
						"description": "Algum parametro informado nÃ£o Ã© vÃ¡lido"
					},
					"401": {
						"description": "API Key da conta nÃ£o Ã© valida"
					},
					"500": {
						"description": "Erro no processamento"
					}
				},
				"security": [
					{
						"apiKey": []
					}
				]
			}
		},
		"/v1/companies/{company_id}/legalpeople/{id}": {
			"get": {
				"tags": [
					"LegalPeople"
				],
				"summary": "Obter os detalhes de uma pessoa jurÃ­dica",
				"operationId": "LegalPeople_Get",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"application/bson",
					"text/xml"
				],
				"parameters": [
					{
						"name": "company_id",
						"in": "path",
						"description": "ID da empresa",
						"required": true,
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"description": "ID da pessoa juridica",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Sucesso na requisiÃ§Ã£o",
						"schema": {
							"type": "object",
							"properties": {
								"legalPeople": {
									"required": [
										"name",
										"email",
										"address"
									],
									"type": "object",
									"properties": {
										"id": {
											"description": "IdentificaÃ§Ã£o",
											"type": "string"
										},
										"name": {
											"description": "Nome ou RazÃ£o Social",
											"type": "string"
										},
										"tradeName": {
											"description": "Nome fantasia",
											"type": "string"
										},
										"federalTaxNumber": {
											"format": "int64",
											"description": "CNPJ ou CPF",
											"type": "integer"
										},
										"email": {
											"description": "Email",
											"type": "string"
										},
										"address": {
											"description": "EndereÃ§o",
											"required": [
												"country",
												"street",
												"number"
											],
											"type": "object",
											"properties": {
												"country": {
													"description": "Sigla do PaÃ­s (padrÃ£o ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG",
													"type": "string"
												},
												"postalCode": {
													"description": "CEP (Exemplo: 99999-999)",
													"type": "string"
												},
												"street": {
													"description": "Logradouro",
													"type": "string"
												},
												"number": {
													"description": "NÃºmero (Exemplo: 185 ou S/N)",
													"type": "string"
												},
												"additionalInformation": {
													"description": "Complemento (Exemplo: BLC A; APT 10",
													"type": "string"
												},
												"district": {
													"description": "Bairro",
													"type": "string"
												},
												"city": {
													"description": "Cidade",
													"type": "object",
													"properties": {
														"code": {
															"description": "CÃ³digo do IBGE",
															"type": "string"
														},
														"name": {
															"description": "Nome",
															"type": "string"
														}
													}
												},
												"state": {
													"description": "Estado",
													"type": "string"
												}
											}
										},
										"openningDate": {
											"format": "date-time",
											"description": "Data abertura da empresa",
											"type": "string"
										},
										"taxRegime": {
											"description": "Tipo do Regime TributÃ¡rio",
											"enum": [
												"Isento",
												"MicroempreendedorIndividual",
												"SimplesNacional",
												"LucroPresumido",
												"LucroReal"
											],
											"type": "string"
										},
										"legalNature": {
											"description": "CÃ³digo da Natureza JurÃ­dica",
											"enum": [
												"EmpresaPublica",
												"SociedadeEconomiaMista",
												"SociedadeAnonimaAberta",
												"SociedadeAnonimaFechada",
												"SociedadeEmpresariaLimitada",
												"SociedadeEmpresariaEmNomeColetivo",
												"SociedadeEmpresariaEmComanditaSimples",
												"SociedadeEmpresariaEmComanditaporAcoes",
												"SociedadeemContaParticipacao",
												"Empresario",
												"Cooperativa",
												"ConsorcioSociedades",
												"GrupoSociedades",
												"EmpresaDomiciliadaExterior",
												"ClubeFundoInvestimento",
												"SociedadeSimplesPura",
												"SociedadeSimplesLimitada",
												"SociedadeSimplesEmNomeColetivo",
												"SociedadeSimplesEmComanditaSimples",
												"EmpresaBinacional",
												"ConsorcioEmpregadores",
												"ConsorcioSimples",
												"EireliNaturezaEmpresaria",
												"EireliNaturezaSimples",
												"ServicoNotarial",
												"FundacaoPrivada",
												"ServicoSocialAutonomo",
												"CondominioEdilicio",
												"ComissaoConciliacaoPrevia",
												"EntidadeMediacaoArbitragem",
												"PartidoPolitico",
												"EntidadeSindical",
												"EstabelecimentoBrasilFundacaoAssociacaoEstrangeiras",
												"FundacaoAssociacaoDomiciliadaExterior",
												"OrganizacaoReligiosa",
												"ComunidadeIndigena",
												"FundoPrivado",
												"AssociacaoPrivada"
											],
											"type": "string"
										},
										"economicActivities": {
											"description": "Atividades da Empresa",
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"type": {
														"enum": [
															"Main",
															"Secondary"
														],
														"type": "string"
													},
													"code": {
														"format": "int32",
														"type": "integer"
													}
												}
											}
										},
										"companyRegistryNumber": {
											"format": "int64",
											"description": "NÃºmero de InscricaÃ§Ã£o na Junta Comercial",
											"type": "integer"
										},
										"regionalTaxNumber": {
											"format": "int64",
											"description": "NÃºmero de InscricaÃ§Ã£o na SEFAZ (IE)",
											"type": "integer"
										},
										"municipalTaxNumber": {
											"description": "NÃºmero de InscricaÃ§Ã£o na Prefeitura (CCM)",
											"type": "string"
										},
										"status": {
											"description": "Status no sistema",
											"enum": [
												"Inactive",
												"None",
												"Active"
											],
											"type": "string"
										},
										"createdOn": {
											"format": "date-time",
											"description": "Data de criaÃ§Ã£o",
											"type": "string"
										},
										"modifiedOn": {
											"format": "date-time",
											"description": "Data da Ãºltima modificaÃ§Ã£o",
											"type": "string"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Algum parametro informado nÃ£o Ã© vÃ¡lido"
					},
					"401": {
						"description": "API Key da conta nÃ£o Ã© valida"
					},
					"500": {
						"description": "Erro no processamento"
					}
				},
				"security": [
					{
						"apiKey": []
					}
				]
			}
		},
		"/v1/companies/{company_id}/naturalpeople": {
			"get": {
				"tags": [
					"NaturalPeople"
				],
				"summary": "Listar as pessoas fÃ­sicas ativas",
				"operationId": "NaturalPeople_Get",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"application/bson",
					"text/xml"
				],
				"parameters": [
					{
						"name": "company_id",
						"in": "path",
						"description": "ID da empresa",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Sucesso na requisiÃ§Ã£o",
						"schema": {
							"type": "object",
							"properties": {
								"naturalPeople": {
									"type": "array",
									"items": {
										"required": [
											"name",
											"email",
											"address"
										],
										"type": "object",
										"properties": {
											"id": {
												"description": "IdentificaÃ§Ã£o",
												"type": "string"
											},
											"name": {
												"description": "Nome completo",
												"type": "string"
											},
											"federalTaxNumber": {
												"format": "int64",
												"description": "CPF",
												"type": "integer"
											},
											"email": {
												"description": "Email",
												"type": "string"
											},
											"address": {
												"description": "EndereÃ§o",
												"required": [
													"country",
													"street",
													"number"
												],
												"type": "object",
												"properties": {
													"country": {
														"description": "Sigla do PaÃ­s (padrÃ£o ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG",
														"type": "string"
													},
													"postalCode": {
														"description": "CEP (Exemplo: 99999-999)",
														"type": "string"
													},
													"street": {
														"description": "Logradouro",
														"type": "string"
													},
													"number": {
														"description": "NÃºmero (Exemplo: 185 ou S/N)",
														"type": "string"
													},
													"additionalInformation": {
														"description": "Complemento (Exemplo: BLC A; APT 10",
														"type": "string"
													},
													"district": {
														"description": "Bairro",
														"type": "string"
													},
													"city": {
														"description": "Cidade",
														"type": "object",
														"properties": {
															"code": {
																"description": "CÃ³digo do IBGE",
																"type": "string"
															},
															"name": {
																"description": "Nome",
																"type": "string"
															}
														}
													},
													"state": {
														"description": "Estado",
														"type": "string"
													}
												}
											},
											"birthDate": {
												"format": "date-time",
												"description": "Data nascimento",
												"type": "string"
											},
											"idNumber": {
												"description": "NÃºmero do Registro Geral (RG)",
												"type": "string"
											},
											"status": {
												"description": "Status no sistema",
												"enum": [
													"Inactive",
													"None",
													"Active"
												],
												"type": "string"
											},
											"createdOn": {
												"format": "date-time",
												"description": "Data de criaÃ§Ã£o",
												"type": "string"
											},
											"modifiedOn": {
												"format": "date-time",
												"description": "Data da Ãºltima modificaÃ§Ã£o",
												"type": "string"
											}
										}
									}
								},
								"totalResults": {
									"format": "int64",
									"type": "integer"
								},
								"totalPages": {
									"format": "int32",
									"type": "integer"
								},
								"page": {
									"format": "int32",
									"type": "integer"
								}
							}
						}
					},
					"400": {
						"description": "Algum parametro informado nÃ£o Ã© vÃ¡lido"
					},
					"401": {
						"description": "API Key da conta nÃ£o Ã© valida"
					},
					"500": {
						"description": "Erro no processamento"
					}
				},
				"security": [
					{
						"apiKey": []
					}
				]
			}
		},
		"/v1/companies/{company_id}/naturalpeople/{id}": {
			"get": {
				"tags": [
					"NaturalPeople"
				],
				"summary": "Obter os detalhes de uma pessoa fÃ­sica",
				"operationId": "NaturalPeople_Get",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"application/bson",
					"text/xml"
				],
				"parameters": [
					{
						"name": "company_id",
						"in": "path",
						"description": "ID da empresa",
						"required": true,
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"description": "ID da pessoa fÃ­sica",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Sucesso na requisiÃ§Ã£o",
						"schema": {
							"required": [
								"name",
								"email",
								"address"
							],
							"type": "object",
							"properties": {
								"id": {
									"description": "IdentificaÃ§Ã£o",
									"type": "string"
								},
								"name": {
									"description": "Nome completo",
									"type": "string"
								},
								"federalTaxNumber": {
									"format": "int64",
									"description": "CPF",
									"type": "integer"
								},
								"email": {
									"description": "Email",
									"type": "string"
								},
								"address": {
									"description": "EndereÃ§o",
									"required": [
										"country",
										"street",
										"number"
									],
									"type": "object",
									"properties": {
										"country": {
											"description": "Sigla do PaÃ­s (padrÃ£o ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG",
											"type": "string"
										},
										"postalCode": {
											"description": "CEP (Exemplo: 99999-999)",
											"type": "string"
										},
										"street": {
											"description": "Logradouro",
											"type": "string"
										},
										"number": {
											"description": "NÃºmero (Exemplo: 185 ou S/N)",
											"type": "string"
										},
										"additionalInformation": {
											"description": "Complemento (Exemplo: BLC A; APT 10",
											"type": "string"
										},
										"district": {
											"description": "Bairro",
											"type": "string"
										},
										"city": {
											"description": "Cidade",
											"type": "object",
											"properties": {
												"code": {
													"description": "CÃ³digo do IBGE",
													"type": "string"
												},
												"name": {
													"description": "Nome",
													"type": "string"
												}
											}
										},
										"state": {
											"description": "Estado",
											"type": "string"
										}
									}
								},
								"birthDate": {
									"format": "date-time",
									"description": "Data nascimento",
									"type": "string"
								},
								"idNumber": {
									"description": "NÃºmero do Registro Geral (RG)",
									"type": "string"
								},
								"status": {
									"description": "Status no sistema",
									"enum": [
										"Inactive",
										"None",
										"Active"
									],
									"type": "string"
								},
								"createdOn": {
									"format": "date-time",
									"description": "Data de criaÃ§Ã£o",
									"type": "string"
								},
								"modifiedOn": {
									"format": "date-time",
									"description": "Data da Ãºltima modificaÃ§Ã£o",
									"type": "string"
								}
							}
						}
					},
					"400": {
						"description": "Algum parametro informado nÃ£o Ã© vÃ¡lido"
					},
					"401": {
						"description": "API Key da conta nÃ£o Ã© valida"
					},
					"500": {
						"description": "Erro no processamento"
					}
				},
				"security": [
					{
						"apiKey": []
					}
				]
			}
		},
		"/v1/companies/{company_id}/serviceinvoices": {
			"get": {
				"tags": [
					"ServiceInvoices"
				],
				"summary": "Listar as Notas Fiscais de ServiÃ§o (NFSE)",
				"description": "VocÃª precisarÃ¡ do APIKEY da Empresa",
				"operationId": "ServiceInvoices_Get",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"application/bson"
				],
				"parameters": [
					          {
            "name": "company_id",
            "in": "path",
            "description": "ID da empresa",
            "required": true,
            "type": "string"
          },
          {
            "name": "pageCount",
            "in": "query",
            "description": "Items por pÃ¡gina",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "NÃºmero da pÃ¡gina",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "issuedBegin",
            "in": "query",
            "description": "Data de competÃªncia inÃ­cio",
            "required": false,
            "type": "date",
            "format": "yyyy-MM-dd"
          },
          {
            "name": "issuedEnd",
            "in": "query",
            "description": "Data de competÃªncia fim",
            "required": false,
            "type": "date",
            "format": "yyyy-MM-dd"
          },
          {
            "name": "createdBegin",
            "in": "query",
            "description": "Data de criaÃ§Ã£o inÃ­cio",
            "required": false,
            "type": "date",
            "format": "yyyy-MM-dd"
          },
          {
            "name": "createdEnd",
            "in": "query",
            "description": "Data de criaÃ§Ã£o fim",
            "required": false,
            "type": "date",
            "format": "yyyy-MM-dd"
          },
          {
            "name": "hasTotals",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
				],
				"responses": {
					"200": {
						"description": "Sucesso na requisiÃ§Ã£o",
						"schema": {
							"type": "object",
							"properties": {
								"serviceInvoices": {
									"type": "array",
									"items": {
										"required": [
											"environment"
										],
										"type": "object",
										"properties": {
											"id": {
												"description": "IdentificaÃ§Ã£o",
												"type": "string"
											},
											"externalId": {
												"description": "IdentificaÃ§Ã£o externa (do cliente)",
												"type": "string"
											},
											"environment": {
												"description": "Ambiente de Processamento",
												"enum": [
													"Development",
													"Production",
													"Staging"
												],
												"type": "string"
											},
											"flowStatus": {
												"description": "Status do processamento",
												"enum": [
													"CancelFailed",
													"IssueFailed",
													"Issued",
													"Cancelled",
													"PullFromCityHall",
													"WaitingCalculateTaxes",
													"WaitingDefineRpsNumber",
													"WaitingSend",
													"WaitingSendCancel",
													"WaitingReturn",
													"WaitingDownload"
												],
												"type": "string"
											},
											"flowMessage": {
												"description": "Mensagem de processamento",
												"type": "string"
											},
											"provider": {
												"description": "Prestador dos serviÃ§os",
												"type": "object",
												"properties": {
													"tradeName": {
														"description": "Nome Fantasia",
														"type": "string"
													},
													"openningDate": {
														"format": "date-time",
														"description": "Data abertura da empresa",
														"type": "string"
													},
													"taxRegime": {
														"description": "Tipo do Regime TributÃ¡rio",
														"enum": [
															"Isento",
															"MicroempreendedorIndividual",
															"SimplesNacional",
															"LucroPresumido",
															"LucroReal"
														],
														"type": "string"
													},
													"specialTaxRegime": {
														"description": "Tipo do regime especial de tributaÃ§Ã£o",
														"enum": [
															"Automatico",
															"Nenhum",
															"MicroempresaMunicipal",
															"Estimativa",
															"SociedadeDeProfissionais",
															"Cooperativa",
															"MicroempreendedorIndividual",
															"MicroempresarioEmpresaPequenoPorte"
														],
														"type": "string"
													},
													"legalNature": {
														"description": "CÃ³digo da Natureza JurÃ­dica",
														"enum": [
															"EmpresaPublica",
															"SociedadeEconomiaMista",
															"SociedadeAnonimaAberta",
															"SociedadeAnonimaFechada",
															"SociedadeEmpresariaLimitada",
															"SociedadeEmpresariaEmNomeColetivo",
															"SociedadeEmpresariaEmComanditaSimples",
															"SociedadeEmpresariaEmComanditaporAcoes",
															"SociedadeemContaParticipacao",
															"Empresario",
															"Cooperativa",
															"ConsorcioSociedades",
															"GrupoSociedades",
															"EmpresaDomiciliadaExterior",
															"ClubeFundoInvestimento",
															"SociedadeSimplesPura",
															"SociedadeSimplesLimitada",
															"SociedadeSimplesEmNomeColetivo",
															"SociedadeSimplesEmComanditaSimples",
															"EmpresaBinacional",
															"ConsorcioEmpregadores",
															"ConsorcioSimples",
															"EireliNaturezaEmpresaria",
															"EireliNaturezaSimples",
															"ServicoNotarial",
															"FundacaoPrivada",
															"ServicoSocialAutonomo",
															"CondominioEdilicio",
															"ComissaoConciliacaoPrevia",
															"EntidadeMediacaoArbitragem",
															"PartidoPolitico",
															"EntidadeSindical",
															"EstabelecimentoBrasilFundacaoAssociacaoEstrangeiras",
															"FundacaoAssociacaoDomiciliadaExterior",
															"OrganizacaoReligiosa",
															"ComunidadeIndigena",
															"FundoPrivado",
															"AssociacaoPrivada"
														],
														"type": "string"
													},
													"economicActivities": {
														"description": "Atividades da Empresa",
														"type": "array",
														"items": {
															"type": "object",
															"properties": {
																"type": {
																	"enum": [
																		"Main",
																		"Secondary"
																	],
																	"type": "string"
																},
																"code": {
																	"format": "int32",
																	"type": "integer"
																}
															}
														}
													},
													"companyRegistryNumber": {
														"format": "int64",
														"description": "NÃºmero de InscricaÃ§Ã£o na Junta Comercial",
														"type": "integer"
													},
													"regionalTaxNumber": {
														"format": "int64",
														"description": "NÃºmero de InscricaÃ§Ã£o na SEFAZ (IE)",
														"type": "integer"
													},
													"municipalTaxNumber": {
														"description": "NÃºmero de InscricaÃ§Ã£o na Prefeitura (CCM)",
														"type": "string"
													},
													"issRate": {
														"format": "double",
														"description": "Taxa da Aliquota do ISS (Simples Nacional)",
														"type": "number"
													},
													"parentId": {
														"type": "string"
													},
													"id": {
														"description": "IdentificaÃ§Ã£o",
														"type": "string"
													},
													"name": {
														"description": "Nome ou RazÃ£o Social",
														"type": "string"
													},
													"federalTaxNumber": {
														"format": "int64",
														"description": "CNPJ ou CPF",
														"type": "integer"
													},
													"email": {
														"description": "Email",
														"type": "string"
													},
													"address": {
														"description": "EndereÃ§o",
														"required": [
															"country",
															"street",
															"number"
														],
														"type": "object",
														"properties": {
															"country": {
																"description": "Sigla do PaÃ­s (padrÃ£o ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG",
																"type": "string"
															},
															"postalCode": {
																"description": "CEP (Exemplo: 99999-999)",
																"type": "string"
															},
															"street": {
																"description": "Logradouro",
																"type": "string"
															},
															"number": {
																"description": "NÃºmero (Exemplo: 185 ou S/N)",
																"type": "string"
															},
															"additionalInformation": {
																"description": "Complemento (Exemplo: BLC A; APT 10",
																"type": "string"
															},
															"district": {
																"description": "Bairro",
																"type": "string"
															},
															"city": {
																"description": "Cidade",
																"type": "object",
																"properties": {
																	"code": {
																		"description": "CÃ³digo do IBGE",
																		"type": "string"
																	},
																	"name": {
																		"description": "Nome",
																		"type": "string"
																	}
																}
															},
															"state": {
																"description": "Estado",
																"type": "string"
															}
														}
													},
													"status": {
														"description": "Status no sistema",
														"enum": [
[...]
