{
	"openapi": "3.0.1",
	"info": {
	  "title": "Consulta de NF-e (Distribuição)",
	  "description": "# Introdução\nSeja bem-vindo a documentação da API de Consulta de NF-e (Distribuição)!\nNossa API foi criada utilizando o padrão REST que possibilita a integração de seu sistema ao nosso, sendo assim você também pode extender ou recriar as funcionalidades existentes na nossa plataforma, tudo isso consumindo a API que está documentada abaixo.\n\nEsta API tem como objetivo manipular o produto de consulta de NF-e. O processo tem como pré-requisitos o cadastro de uma empresa, na sequência o cadastro de um certificado A1 válido desta empresa, e o cadastro de um endpoint de webhook para você receber as notificações. Para mais detalhes de como cadastrar empresa, certificado e webhook, você pode ver nossa documentação da nota fiscal de produto, ou fazer o procedimento via dashboard da nfe.io. \n\nCom os pré-requisitos atendidos, o próximo passo é habilitar a busca automática e observar os webhooks chegando em seu endpoint cadastrado.\n\n\n# Como usar a API?\nLogo a seguir você encontrará todos os recursos e metódos suportados pela API, sendo que essa página possibilita que você teste os recursos e métodos diretamente através dela.\n\n# Autenticação\nVocê precisa de uma chave de API (API Key) para identificar a conta que está realizando solicitações para a API. \nPara isso você deve colocar sua chave de API no campo que se encontra no topo desta página para que os métodos funcionem corretamente.\nNo seu código de integração temos suporte para autenticação de diversas formas sendo eles: \nHTTP Header (Authorization ou X-NFEIO-APIKEY) ou HTTP Query String (api_key) nos dois modos passando o valor da sua chave de api (API Key).\n",
	  "version": "v2"
	},
	"servers": [
	  {
		"url": "https://api.nfse.io"
	  }
	],
	"paths": {
	  "/v1/companies": {
		"get": {
		  "tags": [
			"Inbound"
		  ],
		  "summary": "Obter os detalhes de um CT-e ou NF-e (webhook v1) pela chave de acesso de 44 dígitos",
		  "description": "Você precisará da APIKEY para utilização",
		  "parameters": [
			{
			  "name": "company_id",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "access_key",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Sucesso na requisição",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.NFeMetadataResource"
				  }
				}
			  }
			},
			"400": {
			  "description": "Algum parametro informado não é válido",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"404": {
			  "description": "Não encontrado",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"500": {
			  "description": "Erro no processamento",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"401": {
			  "description": "Não autorizado, verificar o cabeçalho do HTTP Authorization"
			},
			"403": {
			  "description": "Accesso proibido"
			}
		  },
		  "security": [
			{
			  "Authorization_Header": [
				"readAccess",
				"writeAccess"
			  ],
			  "Authorization_QueryParam": [
				"readAccess",
				"writeAccess"
			  ]
			}
		  ]
		}
	  },
	  "/v2/companies/{company_id}/inbound/{access_key}/xml": {
		"get": {
		  "tags": [
			"Inbound"
		  ],
		  "summary": "Obter o XML de um CT-e ou NF-e pela chave de acesso de 44 dígitos",
		  "description": "Você precisará da APIKEY para utilização",
		  "parameters": [
			{
			  "name": "company_id",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "access_key",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Sucesso na requisição",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string",
					"format": "binary"
				  }
				}
			  }
			},
			"400": {
			  "description": "Algum parametro informado não é válido",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"404": {
			  "description": "Não encontrado",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"500": {
			  "description": "Erro no processamento",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"401": {
			  "description": "Não autorizado, verificar o cabeçalho do HTTP Authorization"
			},
			"403": {
			  "description": "Accesso proibido"
			}
		  },
		  "security": [
			{
			  "Authorization_Header": [
				"readAccess",
				"writeAccess"
			  ],
			  "Authorization_QueryParam": [
				"readAccess",
				"writeAccess"
			  ]
			}
		  ]
		}
	  },
	  "/v2/companies/{company_id}/inbound/{access_key}/pdf": {
		"get": {
		  "tags": [
			"Inbound"
		  ],
		  "summary": "Obter o PDF de uma NF-e pela chave de acesso de 44 dígitos",
		  "description": "Você precisará da APIKEY para utilização",
		  "parameters": [
			{
			  "name": "company_id",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "access_key",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Sucesso na requisição",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string",
					"format": "binary"
				  }
				}
			  }
			},
			"400": {
			  "description": "Algum parametro informado não é válido",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"404": {
			  "description": "Não encontrado",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"500": {
			  "description": "Erro no processamento",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"401": {
			  "description": "Não autorizado, verificar o cabeçalho do HTTP Authorization"
			},
			"403": {
			  "description": "Accesso proibido"
			}
		  },
		  "security": [
			{
			  "Authorization_Header": [
				"readAccess",
				"writeAccess"
			  ],
			  "Authorization_QueryParam": [
				"readAccess",
				"writeAccess"
			  ]
			}
		  ]
		}
	  },
	  "/v2/companies/{company_id}/inbound/{access_key}/events/{event_key}": {
		"get": {
		  "tags": [
			"Inbound"
		  ],
		  "summary": "Obter os detalhes de um evento ref. a um CT-e ou NF-e pela chave de acesso de 44 dígitos",
		  "description": "Você precisará da APIKEY para utilização",
		  "parameters": [
			{
			  "name": "company_id",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "access_key",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "event_key",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Sucesso na requisição",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.NFeMetadataResource"
				  }
				}
			  }
			},
			"400": {
			  "description": "Algum parametro informado não é válido",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"404": {
			  "description": "Não encontrado",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"500": {
			  "description": "Erro no processamento",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"401": {
			  "description": "Não autorizado, verificar o cabeçalho do HTTP Authorization"
			},
			"403": {
			  "description": "Accesso proibido"
			}
		  },
		  "security": [
			{
			  "Authorization_Header": [
				"readAccess",
				"writeAccess"
			  ],
			  "Authorization_QueryParam": [
				"readAccess",
				"writeAccess"
			  ]
			}
		  ]
		}
	  },
	  "/v2/companies/{company_id}/inbound/{access_key}/events/{event_key}/xml": {
		"get": {
		  "tags": [
			"Inbound"
		  ],
		  "summary": "Obter o XML de um evento ref. a um CT-e ou NF-e pela chave de acesso de 44 dígitos",
		  "description": "Você precisará da APIKEY para utilização",
		  "parameters": [
			{
			  "name": "company_id",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "access_key",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "event_key",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Sucesso na requisição",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"400": {
			  "description": "Algum parametro informado não é válido",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"404": {
			  "description": "Não encontrado",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"500": {
			  "description": "Erro no processamento",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"401": {
			  "description": "Não autorizado, verificar o cabeçalho do HTTP Authorization"
			},
			"403": {
			  "description": "Accesso proibido"
			}
		  },
		  "security": [
			{
			  "Authorization_Header": [
				"readAccess",
				"writeAccess"
			  ],
			  "Authorization_QueryParam": [
				"readAccess",
				"writeAccess"
			  ]
			}
		  ]
		}
	  },
	  "/v2/companies/{company_id}/inbound/{access_key}/manifest": {
		"post": {
		  "tags": [
			"Inbound"
		  ],
		  "summary": "Enviar o evento de ciência da operação pela chave de acesso de 44 dígitos",
		  "description": "Você precisará da APIKEY para utilização",
		  "parameters": [
			{
			  "name": "company_id",
			  "in": "path",
			  "description": "Informar o id da empresa",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "access_key",
			  "in": "path",
			  "description": "Informar a chave de acesso da nota",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "tpEvent",
			  "in": "query",
			  "description": "Informar o tipo do evento de manifestação do destinatário (default = 210210 \"Ciência da Operação)",
			  "schema": {
				"type": "integer",
				"format": "int64",
				"default": 210210
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Sucesso na requisição",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"400": {
			  "description": "Algum parametro informado não é válido",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"404": {
			  "description": "Não encontrado",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"500": {
			  "description": "Erro no processamento",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"401": {
			  "description": "Não autorizado, verificar o cabeçalho do HTTP Authorization"
			},
			"403": {
			  "description": "Accesso proibido"
			}
		  },
		  "security": [
			{
			  "Authorization_Header": [
				"readAccess",
				"writeAccess"
			  ],
			  "Authorization_QueryParam": [
				"readAccess",
				"writeAccess"
			  ]
			}
		  ]
		}
	  },
	  "/v2/companies/{company_id}/inbound/productinvoices": {
		"post": {
		  "tags": [
			"ProductInvoices"
		  ],
		  "summary": "Ativar busca automática de documentos e Eventos relacionados a Nota Fiscal Eletrônica (NF-e)",
		  "description": "Você precisará do APIKEY para utilização",
		  "parameters": [
			{
			  "name": "company_id",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "requestBody": {
			"content": {
			  "application/json-patch+json": {
				"schema": {
				  "$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.EnableInboundProductInvoiceResource"
				}
			  },
			  "application/json": {
				"schema": {
				  "$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.EnableInboundProductInvoiceResource"
				}
			  },
			  "text/json": {
				"schema": {
				  "$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.EnableInboundProductInvoiceResource"
				}
			  },
			  "application/*+json": {
				"schema": {
				  "$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.EnableInboundProductInvoiceResource"
				}
			  }
			}
		  },
		  "responses": {
			"200": {
			  "description": "Sucesso na requisição",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.ProductInvoiceInboundResource"
				  }
				}
			  }
			},
			"400": {
			  "description": "Algum parametro informado não é válido",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"404": {
			  "description": "Não encontrado",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"500": {
			  "description": "Erro no processamento",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"401": {
			  "description": "Não autorizado, verificar o cabeçalho do HTTP Authorization"
			},
			"403": {
			  "description": "Accesso proibido"
			}
		  },
		  "security": [
			{
			  "Authorization_Header": [
				"readAccess",
				"writeAccess"
			  ],
			  "Authorization_QueryParam": [
				"readAccess",
				"writeAccess"
			  ]
			}
		  ]
		},
		"delete": {
		  "tags": [
			"ProductInvoices"
		  ],
		  "summary": "Desativar busca automática de documentos e Eventos relacionados a Nota Fiscal Eletrônica (NF-e)",
		  "description": "Você precisará do APIKEY para utilização",
		  "parameters": [
			{
			  "name": "company_id",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Sucesso na requisição",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.ProductInvoiceInboundResource"
				  }
				}
			  }
			},
			"400": {
			  "description": "Algum parametro informado não é válido",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"404": {
			  "description": "Não encontrado",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"500": {
			  "description": "Erro no processamento",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"401": {
			  "description": "Não autorizado, verificar o cabeçalho do HTTP Authorization"
			},
			"403": {
			  "description": "Accesso proibido"
			}
		  },
		  "security": [
			{
			  "Authorization_Header": [
				"readAccess",
				"writeAccess"
			  ],
			  "Authorization_QueryParam": [
				"readAccess",
				"writeAccess"
			  ]
			}
		  ]
		},
		"get": {
		  "tags": [
			"ProductInvoices"
		  ],
		  "summary": "Obter detalhes da parametrização do serviço de distribuição (NF-e)",
		  "description": "Você precisará do APIKEY para utilização",
		  "parameters": [
			{
			  "name": "company_id",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Sucesso na requisição",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.ProductInvoiceInboundResource"
				  }
				}
			  }
			},
			"400": {
			  "description": "Algum parametro informado não é válido",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"404": {
			  "description": "Não encontrado",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"500": {
			  "description": "Erro no processamento",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"401": {
			  "description": "Não autorizado, verificar o cabeçalho do HTTP Authorization"
			},
			"403": {
			  "description": "Accesso proibido"
			}
		  },
		  "security": [
			{
			  "Authorization_Header": [
				"readAccess",
				"writeAccess"
			  ],
			  "Authorization_QueryParam": [
				"readAccess",
				"writeAccess"
			  ]
			}
		  ]
		}
	  },
	  "/v2/companies/{company_id}/inbound/productinvoice/{access_key}": {
		"get": {
		  "tags": [
			"ProductInvoices"
		  ],
		  "summary": "Obter os detalhes de uma NF-e (webhook v2) pela chave de acesso de 44 dígitos",
		  "description": "Você precisará da APIKEY para utilização",
		  "parameters": [
			{
			  "name": "company_id",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "access_key",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Sucesso na requisição",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.NFeMetadataResource"
				  }
				}
			  }
			},
			"400": {
			  "description": "Algum parametro informado não é válido",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"404": {
			  "description": "Não encontrado",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"500": {
			  "description": "Erro no processamento",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"401": {
			  "description": "Não autorizado, verificar o cabeçalho do HTTP Authorization"
			},
			"403": {
			  "description": "Accesso proibido"
			}
		  },
		  "security": [
			{
			  "Authorization_Header": [
				"readAccess",
				"writeAccess"
			  ],
			  "Authorization_QueryParam": [
				"readAccess",
				"writeAccess"
			  ]
			}
		  ]
		}
	  },
	  "/v2/companies/{company_id}/inbound/productinvoice/{access_key}/json": {
		"get": {
		  "tags": [
			"ProductInvoices"
		  ],
		  "summary": "Obter o json de uma NF-e pela chave de acesso de 44 dígitos",
		  "description": "Você precisará da APIKEY para utilização",
		  "parameters": [
			{
			  "name": "company_id",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "access_key",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Sucesso na requisição",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.NFeMetadataResource"
				  }
				}
			  }
			},
			"400": {
			  "description": "Algum parametro informado não é válido",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"404": {
			  "description": "Não encontrado",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"500": {
			  "description": "Erro no processamento",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"401": {
			  "description": "Não autorizado, verificar o cabeçalho do HTTP Authorization"
			},
			"403": {
			  "description": "Accesso proibido"
			}
		  },
		  "security": [
			{
			  "Authorization_Header": [
				"readAccess",
				"writeAccess"
			  ],
			  "Authorization_QueryParam": [
				"readAccess",
				"writeAccess"
			  ]
			}
		  ]
		}
	  },
	  "/v2/companies/{company_id}/inbound/productinvoice/{access_key}/events/{event_key}": {
		"get": {
		  "tags": [
			"ProductInvoices"
		  ],
		  "summary": "Obter os detalhes de um evento ref. a um CT-e ou NF-e pela chave de acesso de 44 dígitos",
		  "description": "Você precisará da APIKEY para utilização",
		  "parameters": [
			{
			  "name": "company_id",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "access_key",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "event_key",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Sucesso na requisição",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.MetadataResource"
				  }
				}
			  }
			},
			"400": {
			  "description": "Algum parametro informado não é válido",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"404": {
			  "description": "Não encontrado",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"500": {
			  "description": "Erro no processamento",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"401": {
			  "description": "Não autorizado, verificar o cabeçalho do HTTP Authorization"
			},
			"403": {
			  "description": "Accesso proibido"
			}
		  },
		  "security": [
			{
			  "Authorization_Header": [
				"readAccess",
				"writeAccess"
			  ],
			  "Authorization_QueryParam": [
				"readAccess",
				"writeAccess"
			  ]
			}
		  ]
		}
	  },
	  "/v2/companies/{company_id}/inbound/productinvoice/{access_key_or_nsu}/processwebhook": {
		"post": {
		  "tags": [
			"ProductInvoices"
		  ],
		  "summary": "Reprocessar o webhook pela chave de acesso de 44 dígitos ou pelo NSU",
		  "description": "Você precisará da APIKEY para utilização",
		  "parameters": [
			{
			  "name": "company_id",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "access_key_or_nsu",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Sucesso na requisição",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.MetadataResource"
				  }
				}
			  }
			},
			"400": {
			  "description": "Algum parametro informado não é válido",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"404": {
			  "description": "Não encontrado",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"500": {
			  "description": "Erro no processamento",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "string"
				  }
				}
			  }
			},
			"401": {
			  "description": "Não autorizado, verificar o cabeçalho do HTTP Authorization"
			},
			"403": {
			  "description": "Accesso proibido"
			}
		  },
		  "security": [
			{
			  "Authorization_Header": [
				"readAccess",
				"writeAccess"
			  ],
			  "Authorization_QueryParam": [
				"readAccess",
				"writeAccess"
			  ]
			}
		  ]
		}
	  }
	},
	"components": {
	  "schemas": {
		"DFe.NetCore.Domain.Enums.EntityStatus": {
		  "enum": [
			"None",
			"Active",
			"Inactive"
		  ],
		  "type": "integer",
		  "format": "int32"
		},
		"DFe.NetCore.Domain.Enums.EnvironmentType": {
		  "enum": [
			"None",
			"Production",
			"Test"
		  ],
		  "type": "integer",
		  "format": "int32"
		},
		"DFe.NetCore.Domain.Enums.MetadataResourceType": {
		  "enum": [
			"transportationInvoice",
			"productInvoice",
			"transportationInvoiceEvent",
			"productInvoiceEvent",
			"productInvoiceSummary",
			"productInvoiceEventSummary"
		  ],
		  "type": "integer",
		  "format": "int32"
		},
		"DFe.NetCore.Domain.Enums.OperationType": {
		  "enum": [
			"Outgoing",
			"Incoming",
			"None"
		  ],
		  "type": "integer",
		  "format": "int32"
		},
		"DFe.NetCore.Domain.Resources.BuyerResource": {
		  "type": "object",
		  "properties": {
			"federalTaxNumber": {
			  "type": "string",
			  "nullable": true
			},
			"name": {
			  "type": "string",
			  "nullable": true
			}
		  },
		  "additionalProperties": false
		},
		"DFe.NetCore.Domain.Resources.CompanyResource": {
		  "type": "object",
		  "properties": {
			"id": {
			  "type": "string",
			  "nullable": true
			},
			"federalTaxNumber": {
			  "type": "string",
			  "nullable": true
			}
		  },
		  "additionalProperties": false
		},
		"DFe.NetCore.Domain.Resources.EnableInboundProductInvoiceResource": {
		  "type": "object",
		  "properties": {
			"startFromNsu": {
			  "type": "integer",
			  "format": "int64"
			},
			"startFromDate": {
			  "type": "string",
			  "format": "date-time"
			},
			"environmentSEFAZ": {
			  "$ref": "#/components/schemas/DFe.NetCore.Domain.Enums.EnvironmentType"
			},
			"automaticManifesting": {
			  "$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.ManifestAutomaticRulesResource"
			},
			"webhookVersion": {
			  "type": "integer",
			  "format": "int32"
			}
		  },
		  "additionalProperties": false
		},
		"DFe.NetCore.Domain.Resources.IssuerResource": {
		  "type": "object",
		  "properties": {
			"federalTaxNumber": {
			  "type": "string",
			  "nullable": true
			},
			"name": {
			  "type": "string",
			  "nullable": true
			}
		  },
		  "additionalProperties": false
		},
		"DFe.NetCore.Domain.Resources.LinksResource": {
		  "type": "object",
		  "properties": {
			"xml": {
			  "type": "string",
			  "nullable": true
			},
			"pdf": {
			  "type": "string",
			  "nullable": true
			}
		  },
		  "additionalProperties": false
		},
		"DFe.NetCore.Domain.Resources.ManifestAutomaticRulesResource": {
		  "type": "object",
		  "properties": {
			"minutesToWaitAwarenessOperation": {
			  "type": "integer",
			  "format": "int32"
			}
		  },
		  "additionalProperties": false
		},
		"DFe.NetCore.Domain.Resources.MetadataResource": {
		  "type": "object",
		  "properties": {
			"id": {
			  "type": "string",
			  "nullable": true
			},
			"createdOn": {
			  "type": "string",
			  "format": "date-time",
			  "nullable": true
			},
			"accessKey": {
			  "type": "string",
			  "nullable": true
			},
			"parentAccessKey": {
			  "type": "string",
			  "nullable": true
			},
			"productInvoices": {
			  "type": "array",
			  "items": {
				"$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.ProductInvoiceResource"
			  },
			  "nullable": true
			},
			"company": {
			  "$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.CompanyResource"
			},
			"issuer": {
			  "$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.IssuerResource"
			},
			"buyer": {
			  "$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.BuyerResource"
			},
			"transportation": {
			  "$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.TransportationResource"
			},
			"type": {
			  "$ref": "#/components/schemas/DFe.NetCore.Domain.Enums.MetadataResourceType"
			},
			"nsu": {
			  "type": "integer",
			  "format": "int64"
			},
			"nfeNumber": {
			  "type": "integer",
			  "format": "int64"
			},
			"issuedOn": {
			  "type": "string",
			  "format": "date-time",
			  "nullable": true
			},
			"description": {
			  "type": "string",
			  "nullable": true
			},
			"xmlUrl": {
			  "type": "string",
			  "nullable": true
			},
			"federalTaxNumberSender": {
			  "type": "string",
			  "nullable": true
			},
			"nameSender": {
			  "type": "string",
			  "nullable": true
			},
			"totalInvoiceAmount": {
			  "type": "string",
			  "nullable": true
			},
			"links": {
			  "$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.LinksResource"
			}
		  },
		  "additionalProperties": false
		},
		"DFe.NetCore.Domain.Resources.NFeMetadataResource": {
		  "type": "object",
		  "properties": {
			"id": {
			  "type": "string",
			  "nullable": true
			},
			"createdOn": {
			  "type": "string",
			  "format": "date-time",
			  "nullable": true
			},
			"accessKey": {
			  "type": "string",
			  "nullable": true
			},
			"parentAccessKey": {
			  "type": "string",
			  "nullable": true
			},
			"company": {
			  "$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.CompanyResource"
			},
			"issuer": {
			  "$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.IssuerResource"
			},
			"buyer": {
			  "$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.BuyerResource"
			},
			"transportation": {
			  "$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.TransportationResource"
			},
			"links": {
			  "$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.LinksResource"
			},
			"xmlUrl": {
			  "type": "string",
			  "nullable": true
			},
			"federalTaxNumberSender": {
			  "type": "string",
			  "nullable": true
			},
			"nameSender": {
			  "type": "string",
			  "nullable": true
			},
			"type": {
			  "$ref": "#/components/schemas/DFe.NetCore.Domain.Enums.MetadataResourceType"
			},
			"nsu": {
			  "type": "string",
			  "nullable": true
			},
			"nsuParent": {
			  "type": "string",
			  "nullable": true
			},
			"nfeNumber": {
			  "type": "string",
			  "nullable": true
			},
			"nfeSerialNumber": {
			  "type": "string",
			  "nullable": true
			},
			"issuedOn": {
			  "type": "string",
			  "format": "date-time",
			  "nullable": true
			},
			"description": {
			  "type": "string",
			  "nullable": true
			},
			"totalInvoiceAmount": {
			  "type": "string",
			  "nullable": true
			},
			"operationType": {
			  "$ref": "#/components/schemas/DFe.NetCore.Domain.Enums.OperationType"
			}
		  },
		  "additionalProperties": false
		},
		"DFe.NetCore.Domain.Resources.ProductInvoiceInboundResource": {
		  "type": "object",
		  "properties": {
			"startFromNsu": {
			  "type": "integer",
			  "format": "int64"
			},
			"startFromDate": {
			  "type": "string",
			  "format": "date-time"
			},
			"environmentSEFAZ": {
			  "$ref": "#/components/schemas/DFe.NetCore.Domain.Enums.EnvironmentType"
			},
			"automaticManifesting": {
			  "$ref": "#/components/schemas/DFe.NetCore.Domain.Resources.ManifestAutomaticRulesResource"
			},
			"webhookVersion": {
			  "type": "integer",
			  "format": "int32"
			},
			"companyId": {
			  "type": "string",
			  "nullable": true
			},
			"status": {
			  "$ref": "#/components/schemas/DFe.NetCore.Domain.Enums.EntityStatus"
			},
			"createdOn": {
			  "type": "string",
			  "format": "date-time"
			},
			"modifiedOn": {
			  "type": "string",
			  "format": "date-time",
			  "nullable": true
			}
		  },
		  "additionalProperties": false
		},
		"DFe.NetCore.Domain.Resources.ProductInvoiceResource": {
		  "type": "object",
		  "properties": {
			"accessKey": {
			  "type": "string",
			  "nullable": true
			}
		  },
		  "additionalProperties": false
		},
		"DFe.NetCore.Domain.Resources.TransportationResource": {
		  "type": "object",
		  "properties": {
			"federalTaxNumber": {
			  "type": "string",
			  "nullable": true
			},
			"name": {
			  "type": "string",
			  "nullable": true
			}
		  },
		  "additionalProperties": false
		}
	  },
	  "securitySchemes": {
		"Authorization_Header": {
		  "type": "apiKey",
		  "description": "Autenticar usando o Cabeçalho HTTP, exemplo: \"X-NFE-ApiKey {APIKEY_TOKEN}\"",
		  "name": "Authorization",
		  "in": "header"
		},
		"Authorization_QueryParam": {
		  "type": "apiKey",
		  "description": "Autenticar usando o Parametro na URL, exemplo: \"/?apikey={APIKEY_TOKEN}\"",
		  "name": "apikey",
		  "in": "query"
		}
	  }
	},
	"security": [
	  {
		"Authorization_Header": [
		  "readAccess",
		  "writeAccess"
		],
		"Authorization_QueryParam": [
		  "readAccess",
		  "writeAccess"
		]
	  }
	]
  }